Repository mirror-xyz/degen: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint:fix, yarn lint:format

.lintstagedrc:

{
  "*.{js,ts,tsx}": ["yarn lint:fix"],
  "*.{json,md,yml}": ["yarn lint:format"]
}

refactor: rename media picker
  .eslintrc
  components/src/components/MediaInput/MediaInput.test.tsx
  components/src/components/MediaInput/index.ts
  components/src/components/MediaPicker/MediaPicker.docs.mdx
  components/src/components/MediaPicker/MediaPicker.snippets.tsx
  components/src/components/MediaPicker/MediaPicker.test.tsx
  components/src/components/MediaPicker/MediaPicker.tsx
  components/src/components/MediaPicker/index.ts
  components/src/components/MediaPicker/styles.css.ts
  components/src/components/MediaPicker/utils.ts
  components/src/components/index.ts
  components/src/index.test.ts
  components/src/index.ts
  components/src/types/index.ts
  docs/src/components/CodePreview/CodePreview.tsx
  icons/Document.svg
Due: yarn lint:fix

refactor: update stat
  components/src/components/Spinner/styles.css.ts
  components/src/components/Stat/Stat.docs.mdx
  components/src/components/Stat/Stat.snippets.tsx
  components/src/components/Stat/Stat.test.tsx
  components/src/components/Stat/Stat.tsx
  components/src/css/sprinkles.css.ts
Due: yarn lint:fix

refactor: update stat (#32)
  components/src/components/Spinner/styles.css.ts
  components/src/components/Stat/Stat.docs.mdx
  components/src/components/Stat/Stat.snippets.tsx
  components/src/components/Stat/Stat.test.tsx
  components/src/components/Stat/Stat.tsx
  components/src/css/sprinkles.css.ts
Due: yarn lint:fix

feat: add card
  components/src/components/Card/Card.docs.mdx
  components/src/components/Card/Card.snippets.tsx
  components/src/components/Card/Card.test.tsx
  components/src/components/Card/Card.tsx
  components/src/components/Card/index.ts
  components/src/components/Card/styles.css.ts
  components/src/components/index.ts
  components/src/index.test.ts
  components/src/index.ts
  docs/src/components/PropsTable.tsx
Due: yarn lint:fix

feat: add card (#33)
  components/src/components/Card/Card.docs.mdx
  components/src/components/Card/Card.snippets.tsx
  components/src/components/Card/Card.test.tsx
  components/src/components/Card/Card.tsx
  components/src/components/Card/index.ts
  components/src/components/Card/styles.css.ts
  components/src/components/index.ts
  components/src/index.test.ts
  components/src/index.ts
  docs/src/components/PropsTable.tsx
Due: yarn lint:fix

feat: add percent to space
  components/src/components/Card/Card.tsx
  components/src/components/Card/styles.css.ts
  components/src/css/sprinkles.css.ts
  components/src/css/utils.ts
Due: yarn lint:fix

feat: add percent to space (#34)
  components/src/components/Card/Card.tsx
  components/src/components/Card/styles.css.ts
  components/src/css/sprinkles.css.ts
  components/src/css/utils.ts
Due: yarn lint:fix

feat: avatar
  components/src/components/Avatar/Avatar.docs.mdx
  components/src/components/Avatar/Avatar.snippets.tsx
  components/src/components/Avatar/Avatar.test.tsx
  components/src/components/Avatar/Avatar.tsx
  components/src/components/Avatar/index.ts
  components/src/components/Skeleton/Skeleton.tsx
  components/src/components/Stat/Stat.tsx
  components/src/components/index.ts
  components/src/index.test.ts
  components/src/index.ts
  docs/next.config.js
  docs/src/components/CodePreview/CodePreview.tsx
  playroom/src/useScope.ts
Due: yarn lint:fix

chore: checkpoint
  components/src/components/Avatar/Avatar.docs.mdx
  components/src/components/AvatarGroup/AvatarGroup.docs.mdx
  components/src/components/AvatarGroup/AvatarGroup.snippets.tsx
  components/src/components/AvatarGroup/AvatarGroup.test.tsx
  components/src/components/AvatarGroup/AvatarGroup.tsx
  components/src/components/AvatarGroup/index.ts
  components/src/components/AvatarGroup/styles.css.ts
  components/src/components/index.ts
  components/src/index.test.ts
  components/src/index.ts
Due: yarn lint:fix

feat: avatar group
  components/src/components/Avatar/Avatar.docs.mdx
  components/src/components/Avatar/Avatar.tsx
  components/src/components/AvatarGroup/AvatarGroup.docs.mdx
  components/src/components/AvatarGroup/AvatarGroup.snippets.tsx
  components/src/components/AvatarGroup/AvatarGroup.test.tsx
  components/src/components/AvatarGroup/AvatarGroup.tsx
  components/src/components/AvatarGroup/index.ts
  components/src/components/Button/Button.docs.mdx
  components/src/components/Button/Button.tsx
  components/src/components/index.ts
  docs/src/components/CodePreview/CodePreview.tsx
  playroom/src/useScope.ts
Due: yarn lint:fix

feat: avatar (#35)
  components/src/components/Avatar/Avatar.docs.mdx
  components/src/components/Avatar/Avatar.snippets.tsx
  components/src/components/Avatar/Avatar.test.tsx
  components/src/components/Avatar/Avatar.tsx
  components/src/components/Avatar/index.ts
  components/src/components/AvatarGroup/AvatarGroup.docs.mdx
  components/src/components/AvatarGroup/AvatarGroup.snippets.tsx
  components/src/components/AvatarGroup/AvatarGroup.test.tsx
  components/src/components/AvatarGroup/AvatarGroup.tsx
  components/src/components/AvatarGroup/index.ts
  components/src/components/AvatarGroup/styles.css.ts
  components/src/components/Button/Button.docs.mdx
  components/src/components/Button/Button.tsx
  components/src/components/Skeleton/Skeleton.tsx
  components/src/components/Stat/Stat.tsx
  components/src/components/index.ts
  components/src/index.test.ts
  components/src/index.ts
  docs/next.config.js
  docs/src/components/CodePreview/CodePreview.tsx
  playroom/src/useScope.ts
Due: yarn lint:fix

fix: lint error
  components/src/components/Button/Button.docs.mdx
Due: none

chore: tweak avatar
  components/src/components/Avatar/Avatar.docs.mdx
  components/src/components/Avatar/Avatar.tsx
Due: yarn lint:fix

feat: media picker (#31)
  .eslintrc
  components/src/components/Button/Button.tsx
  components/src/components/Field/Field.tsx
  components/src/components/MediaPicker/MediaPicker.docs.mdx
  components/src/components/MediaPicker/MediaPicker.snippets.tsx
  components/src/components/MediaPicker/MediaPicker.test.tsx
  components/src/components/MediaPicker/MediaPicker.tsx
  components/src/components/MediaPicker/index.ts
  components/src/components/MediaPicker/styles.css.ts
  components/src/components/MediaPicker/utils.ts
  components/src/components/Tag/Tag.tsx
  components/src/components/Tag/styles.css.ts
  components/src/components/index.ts
  components/src/css/sprinkles.css.ts
  components/src/hooks/index.ts
  components/src/hooks/useFieldIds.test.ts
  components/src/hooks/useFieldIds.ts
  components/src/index.test.ts
  components/src/index.ts
  components/src/types/index.ts
  components/test/index.tsx
  components/test/mocks/URL.js
  docs/src/components/CodePreview/CodePreview.tsx
  docs/src/components/PropsTable.tsx
Due: yarn lint:fix

chore: fix stack examples
  components/src/components/Stack/Stack.docs.mdx
Due: none

fix: media picker drop state
  components/src/components/MediaPicker/MediaPicker.tsx
Due: yarn lint:fix

feat: add icons
  components/src/components/Avatar/Avatar.tsx
  components/src/components/MediaPicker/utils.test.ts
  components/src/css/sprinkles.css.ts
  components/src/index.test.ts
  components/src/index.ts
  icons/Documents.svg
  icons/Flag.svg
  icons/Grid.svg
  icons/Hand.svg
  icons/Pencil.svg
  icons/Split.svg
  icons/TrendingUp.svg
  icons/UsersSolid.svg
Due: yarn lint:fix

feat: add icons (#36)
  components/src/components/Avatar/Avatar.tsx
  components/src/components/MediaPicker/utils.test.ts
  components/src/css/sprinkles.css.ts
  components/src/index.test.ts
  components/src/index.ts
  icons/Documents.svg
  icons/Flag.svg
  icons/Grid.svg
  icons/Hand.svg
  icons/Pencil.svg
  icons/Split.svg
  icons/TrendingUp.svg
  icons/UsersSolid.svg
Due: yarn lint:fix

feat: add border left and right to sprinkles
  components/src/css/sprinkles.css.ts
Due: yarn lint:fix

fix: icon stroke
  icons/Split.svg
Due: none

refactor: skeleton container
  components/src/components/Skeleton/Skeleton.tsx
  docs/src/styles/globals.css.ts
Due: yarn lint:fix

avatar group label font weight semibold
  components/src/components/AvatarGroup/AvatarGroup.tsx
Due: yarn lint:fix

feat: add avatar shapes
  .github/workflows/main.yml
  .github/workflows/size.yml
  components/src/components/Avatar/Avatar.docs.mdx
  components/src/components/Avatar/Avatar.tsx
  components/src/components/Avatar/index.ts
  components/src/components/Avatar/styles.css.ts
  components/src/components/AvatarGroup/AvatarGroup.tsx
  components/src/components/Button/Button.tsx
  components/src/components/Skeleton/Skeleton.tsx
  components/src/components/index.ts
  components/src/css/index.ts
  components/src/css/sprinkles.css.ts
  components/src/index.test.ts
  components/src/index.ts
  docs/src/guides/development.mdx
  docs/src/styles/globals.css.ts
Due: yarn lint:fix, yarn lint:format

feat: add avatar shapes (#37)
  .github/workflows/main.yml
  .github/workflows/size.yml
  components/src/components/Avatar/Avatar.docs.mdx
  components/src/components/Avatar/Avatar.tsx
  components/src/components/Avatar/index.ts
  components/src/components/Avatar/styles.css.ts
  components/src/components/AvatarGroup/AvatarGroup.tsx
  components/src/components/Button/Button.tsx
  components/src/components/Skeleton/Skeleton.tsx
  components/src/components/index.ts
  components/src/css/index.ts
  components/src/css/sprinkles.css.ts
  components/src/index.test.ts
  components/src/index.ts
  docs/src/guides/development.mdx
  docs/src/styles/globals.css.ts
Due: yarn lint:fix, yarn lint:format

chore: tweak avatar shape
  components/src/components/Avatar/Avatar.docs.mdx
  components/src/components/Avatar/styles.css.ts
Due: yarn lint:fix

chore: add icons
  icons/DotsVertical.svg
Due: none

feat: add new radii size
  components/src/tokens/border.ts
Due: yarn lint:fix

-1px inner border for avatars
  components/src/components/Avatar/Avatar.docs.mdx
  components/src/components/Avatar/Avatar.tsx
  components/src/css/sprinkles.css.ts
  components/src/tokens/shadows.ts
Due: yarn lint:fix

shadow order for next/image
  components/src/components/Avatar/Avatar.tsx
Due: yarn lint:fix

improved naming
  components/src/components/Avatar/Avatar.tsx
  components/src/css/sprinkles.css.ts
  components/src/tokens/shadows.ts
Due: yarn lint:fix

typopgraphy finesse
  components/src/components/Button/Button.tsx
  components/src/components/Text/Text.docs.mdx
  components/src/tokens/typography.ts
Due: yarn lint:fix

refactor: box shadow setup
  components/src/components/Avatar/Avatar.docs.mdx
  components/src/components/Avatar/Avatar.tsx
  components/src/components/Avatar/styles.css.ts
  components/src/css/sprinkles.css.ts
Due: yarn lint:fix

typopgraphy finesse (#39)
  components/src/components/Button/Button.tsx
  components/src/components/Text/Text.docs.mdx
  components/src/tokens/typography.ts
Due: yarn lint:fix

feat: avatar border (#38)
  components/src/components/Avatar/Avatar.docs.mdx
  components/src/components/Avatar/Avatar.tsx
  components/src/components/Avatar/styles.css.ts
  components/src/tokens/shadows.ts
Due: yarn lint:fix

chore: bump version
  components/package.json
Due: yarn lint:format

chore: checkpoint
  components/src/components/Dialog/Dialog.docs.mdx
  components/src/components/Dialog/Dialog.snippets.tsx
  components/src/components/Dialog/Dialog.test.tsx
  components/src/components/Dialog/Dialog.tsx
  components/src/components/Dialog/index.ts
  components/src/components/Dialog/styles.css.ts
  components/src/components/index.ts
  package.json
  yarn.lock
Due: yarn lint:fix, yarn lint:format

feat: add dialog
  components/package.json
  components/src/components/Button/Button.tsx
  components/src/components/Button/index.ts
  components/src/components/Dialog/Dialog.docs.mdx
  components/src/components/Dialog/Dialog.snippets.tsx
  components/src/components/Dialog/Dialog.test.tsx
  components/src/components/Dialog/Dialog.tsx
  components/src/components/Dialog/index.ts
  components/src/components/Dialog/styles.css.ts
  components/src/components/Heading/styles.css.ts
  components/src/components/index.ts
  components/src/css/sprinkles.css.ts
  components/src/hooks/index.ts
  components/src/hooks/useWindowEvent.ts
  components/src/index.test.ts
  components/src/index.ts
  package.json
  yarn.lock
Due: yarn lint:fix, yarn lint:format

feat: reduce motion
  components/src/components/Dialog/Dialog.tsx
  components/src/components/Dialog/index.ts
  components/src/components/index.ts
  components/src/hooks/index.ts
  components/src/hooks/useReduceMotion.ts
Due: yarn lint:fix

fix: test
  components/test/index.tsx
  components/test/mocks/matchMedia.js
Due: yarn lint:fix

feat: icon stroke width
  components/src/components/Input/styles.css.ts
  components/src/components/MediaPicker/styles.css.ts
  components/src/components/Textarea/styles.css.ts
  components/src/components/icons/IconNFT/IconNFT.tsx
  components/src/tokens/border.ts
  package.json
  scripts/generateIcons.js
  yarn.lock
Due: yarn lint:fix, yarn lint:format
