Repository mirror-xyz/degen: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint:fix, yarn lint:format

feat: update theme docs
  components/src/components/ThemeProvider/ThemeProvider.docs.mdx
  docs/components/CodePreview/CodePreview.tsx
  docs/components/Nav/Nav.tsx
Due: yarn lint:fix

chore: bump dependencies
  components/package.json
  docs/package.json
  package.json
  playroom/package.json
  yarn.lock
Due: yarn lint:format

chore: bump dependencies (#10)
  components/package.json
  docs/package.json
  package.json
  playroom/package.json
  yarn.lock
Due: yarn lint:format

refactor: button styles
  components/src/components/Button/Button.docs.mdx
  components/src/components/Button/Button.tsx
  components/src/components/Button/styles.css.ts
  components/src/css/sprinkles.css.ts
  docs/components/SearchIcons.tsx
Due: yarn lint:fix

refactor: button styles (#11)
  components/src/components/Button/Button.docs.mdx
  components/src/components/Button/Button.tsx
  components/src/components/Button/styles.css.ts
  components/src/css/sprinkles.css.ts
  docs/components/SearchIcons.tsx
Due: yarn lint:fix

feat: text input
  components/jest.config.ts
  components/package.json
  components/scripts/generateComponent.js
  components/src/components/Box/Box.tsx
  components/src/components/Button/Button.tsx
  components/src/components/Field/Field.docs.mdx
  components/src/components/Field/Field.snippets.tsx
  components/src/components/Field/Field.test.tsx
  components/src/components/Field/Field.tsx
  components/src/components/Field/index.ts
  components/src/components/Field/utils.test.ts
  components/src/components/Field/utils.ts
  components/src/components/Skeleton/Skeleton.tsx
  components/src/components/Text/Text.tsx
  components/src/components/TextInput/TextInput.docs.mdx
  components/src/components/TextInput/TextInput.snippets.tsx
  components/src/components/TextInput/TextInput.test.tsx
  components/src/components/TextInput/TextInput.tsx
  components/src/components/TextInput/index.ts
  components/src/components/TextInput/styles.css.ts
  components/src/components/index.ts
  components/src/css/reset.css.ts
  components/src/css/sprinkles.css.ts
  components/src/index.test.ts
  components/src/index.ts
  components/src/tokens/border.ts
  components/src/utils/index.ts
  components/src/utils/useId.test.ts
  components/src/utils/useId.ts
  components/src/utils/useIsoMorphicEffect.ts
  components/src/utils/useServerHandoffComplete.ts
  components/test/__mocks__/file.js
  components/vite.config.ts
  docs/components/MDX/MDX.tsx
  docs/components/SearchIcons.tsx
  docs/next.config.js
  yarn.lock
Due: yarn lint:fix, yarn lint:format

chore: checkpoint
  components/package.json
  components/src/components/Button/Button.docs.mdx
  components/src/components/Button/Button.tsx
  components/src/components/Button/styles.css.ts
  components/src/components/Field/Field.docs.mdx
  components/src/components/Field/Field.snippets.tsx
  components/src/components/Field/Field.test.tsx
  components/src/components/Field/Field.tsx
  components/src/components/Field/index.ts
  components/src/components/Heading/Heading.docs.mdx
  components/src/components/Skeleton/Skeleton.docs.mdx
  components/src/components/SkeletonGroup/SkeletonGroup.docs.mdx
  components/src/components/Spinner/Spinner.docs.mdx
  components/src/components/Stack/Stack.docs.mdx
  components/src/components/Stack/Stack.tsx
  components/src/components/Text/Text.docs.mdx
  components/src/components/TextInput/TextInput.docs.mdx
  components/src/components/TextInput/TextInput.snippets.tsx
  components/src/components/TextInput/TextInput.test.tsx
  components/src/components/TextInput/TextInput.tsx
  components/src/components/TextInput/index.ts
  components/src/components/TextInput/styles.css.ts
  components/src/components/index.ts
  components/src/index.test.ts
  docs/components/CodePreview/CodePreview.tsx
  docs/components/ColorPalette.tsx
  docs/components/MDX/MDX.tsx
  docs/components/Nav/Nav.tsx
  docs/components/SearchIcons.tsx
  docs/components/ThemeSwitcher.tsx
  docs/layouts/docs.tsx
  package.json
  scripts/generateComponent.js
  scripts/generateIcons.js
Due: yarn lint:fix, yarn lint:format

feat: add max to input
  components/src/components/Button/Button.tsx
  components/src/components/Field/Field.docs.mdx
  components/src/components/Field/Field.tsx
  components/src/components/TextInput/TextInput.docs.mdx
  components/src/components/TextInput/TextInput.snippets.tsx
  components/src/components/TextInput/TextInput.tsx
  components/src/components/TextInput/styles.css.ts
  components/src/utils/isOfType.test.ts
  components/src/utils/isOfType.ts
Due: yarn lint:fix

feat: add badge
  components/src/components/Badge/Badge.docs.mdx
  components/src/components/Badge/Badge.snippets.tsx
  components/src/components/Badge/Badge.test.tsx
  components/src/components/Badge/Badge.tsx
  components/src/components/Badge/index.ts
  components/src/components/Badge/styles.css.ts
  components/src/components/Button/Button.docs.mdx
  components/src/components/Button/Button.tsx
  components/src/components/Button/styles.css.ts
  components/src/components/Skeleton/Skeleton.docs.mdx
  components/src/components/SkeletonGroup/SkeletonGroup.docs.mdx
  components/src/components/Spinner/Spinner.docs.mdx
  components/src/components/Spinner/Spinner.tsx
  components/src/components/Spinner/styles.css.ts
  components/src/components/index.ts
  components/src/index.test.ts
  components/src/index.ts
  docs/components/CodeBlock.tsx
  docs/components/CodePreview/CodePreview.tsx
  docs/components/CodePreview/styles.css.ts
  docs/components/CopyButton.tsx
  docs/components/MDX.tsx
  docs/components/MDX/index.ts
  docs/components/Nav/Nav.tsx
  docs/components/ThemeSwitcher.tsx
  docs/pages/index.mdx
  docs/styles/utils.css.ts
Due: yarn lint:fix

feat: add css docs
  components/src/components/Badge/Badge.tsx
  components/src/components/Field/Field.docs.mdx
  components/src/components/Field/Field.tsx
  components/src/components/TextInput/TextInput.docs.mdx
  components/src/components/TextInput/TextInput.tsx
  docs/components/CodePreview/CodePreview.tsx
  docs/components/Nav/Nav.tsx
  docs/next.config.js
  docs/pages/css/atoms.mdx
  docs/pages/css/vars.mdx
Due: yarn lint:fix

chore: reorganize script packages
  components/package.json
  components/src/components/Button/Button.tsx
  components/src/components/Heading/Heading.tsx
  components/src/components/Skeleton/Skeleton.tsx
  components/src/components/SkeletonGroup/SkeletonGroup.tsx
  components/src/components/Stack/Stack.tsx
  components/src/components/TextInput/TextInput.tsx
  components/src/components/VisuallyHidden/VisuallyHidden.tsx
  components/src/index.test.ts
  docs/pages/css/atoms.mdx
  docs/pages/css/vars.mdx
  docs/pages/foundations/Colors.mdx
  docs/pages/foundations/Icons.mdx
  package.json
  scripts/generateComponent.js
  yarn.lock
Due: yarn lint:fix, yarn lint:format

refactor: rename input
  .yarn/plugins/@yarnpkg/plugin-interactive-tools.cjs
  components/src/components/Box/Box.docs.mdx
  components/src/components/Button/Button.docs.mdx
  components/src/components/Field/Field.docs.mdx
  components/src/components/Field/Field.tsx
  components/src/components/Heading/Heading.docs.mdx
  components/src/components/Input/Input.docs.mdx
  components/src/components/Input/Input.snippets.tsx
  components/src/components/Input/Input.test.tsx
  components/src/components/Input/Input.tsx
  components/src/components/Input/index.ts
  components/src/components/Input/styles.css.ts
  components/src/components/Skeleton/Skeleton.docs.mdx
  components/src/components/SkeletonGroup/SkeletonGroup.docs.mdx
  components/src/components/Spinner/Spinner.docs.mdx
  components/src/components/Stack/Stack.docs.mdx
  components/src/components/Text/Text.docs.mdx
  components/src/components/TextInput/index.ts
  components/src/components/ThemeProvider/ThemeProvider.docs.mdx
  components/src/components/VisuallyHidden/VisuallyHidden.docs.mdx
  components/src/components/index.ts
  components/src/index.test.ts
  components/src/index.ts
  components/src/tokens/space.ts
  docs/components/Nav.tsx
  docs/components/Nav/index.ts
  docs/components/Nav/styles.css.ts
  docs/components/SearchIcons.tsx
  docs/next.config.js
  docs/pages/index.mdx
  docs/styles/utils.css.ts
Due: yarn lint:fix

refactor: clean up layout
  components/package.json
  components/src/components/Skeleton/Skeleton.docs.mdx
  components/src/components/SkeletonGroup/SkeletonGroup.docs.mdx
  components/src/components/ThemeProvider/ThemeProvider.docs.mdx
  components/src/components/ThemeProvider/ThemeProvider.tsx
  docs/components/CodePreview/CodePreview.tsx
  docs/components/ColorPalette.tsx
  docs/components/Header.tsx
  docs/components/MDX.tsx
  docs/components/index.ts
  docs/layouts/docs.tsx
  docs/next.config.js
  docs/package.json
  docs/pages/_app.tsx
  docs/pages/components/[slug].tsx
  docs/pages/css/atoms.mdx
  docs/pages/css/vars.mdx
  docs/pages/foundations/Colors.mdx
  docs/pages/foundations/Icons.mdx
  docs/pages/index.mdx
  docs/styles/globals.css.ts
  package.json
  scripts/generateIcons.js
  yarn.lock
Due: yarn lint:fix, yarn lint:format

test: input
  .gitignore
  components/src/components/Input/Input.test.tsx
  components/src/components/Input/Input.tsx
  components/src/components/ThemeProvider/ThemeProvider.test.tsx
  components/src/components/ThemeProvider/ThemeProvider.tsx
  components/src/components/icons/Icons.docs.mdx
  components/src/index.test.ts
  docs/components/Header.tsx
Due: yarn lint:fix

chore: rename theme
  components/src/components/Badge/index.ts
  components/src/components/Box/Box.snippets.tsx
  components/src/components/Button/Button.snippets.tsx
  components/src/components/Button/Button.test.tsx
  components/src/components/Input/Input.docs.mdx
  components/src/components/Skeleton/Skeleton.snippets.tsx
  components/src/components/SkeletonGroup/SkeletonGroup.snippets.tsx
  components/src/components/Stack/Stack.snippets.tsx
  components/src/components/Tag/Tag.docs.mdx
  components/src/components/Tag/Tag.snippets.tsx
  components/src/components/Tag/Tag.test.tsx
  components/src/components/Tag/Tag.tsx
  components/src/components/Tag/index.ts
  components/src/components/Tag/styles.css.ts
  components/src/components/Text/Text.snippets.tsx
  components/src/components/ThemeProvider/ThemeProvider.snippets.tsx
  components/src/components/VisuallyHidden/VisuallyHidden.snippets.tsx
  components/src/components/index.ts
  components/src/index.test.ts
  components/src/index.ts
  scripts/generateIcons.js
Due: yarn lint:fix

ci: publish workflow
  .github/workflows/publish.yml
  README.md
  components/package.json
  components/src/components/Button/Button.tsx
  components/src/components/Field/utils.ts
  components/src/components/Tag/Tag.test.tsx
  components/src/components/ThemeProvider/ThemeProvider.docs.mdx
  components/src/components/ThemeProvider/ThemeProvider.tsx
  components/src/css/sprinkles.css.ts
  components/src/hooks/index.ts
  components/src/hooks/useId.test.ts
  components/src/hooks/useId.ts
  components/src/hooks/useIsoMorphicEffect.ts
  components/src/hooks/useServerHandoffComplete.ts
  components/src/utils/index.ts
  components/src/utils/isOfType.test.ts
  components/src/utils/isOfType.ts
  docs/components/CodePreview/CodePreview.tsx
  package.json
Due: yarn lint:fix, yarn lint:format

chore: update readme
  .github/workflows/publish.yml
  README.md
Due: yarn lint:format

ci: clean up publish
  .github/workflows/publish.yml
Due: yarn lint:format

docs: update
  docs/pages/_app.tsx
  docs/pages/index.mdx
Due: yarn lint:fix

docs: add props table
  .eslintrc
  components/src/components/Box/Box.docs.mdx
  components/src/components/Button/Button.docs.mdx
  components/src/components/Button/Button.tsx
  components/src/components/Field/Field.docs.mdx
  components/src/components/Heading/Heading.docs.mdx
  components/src/components/Input/Input.docs.mdx
  components/src/components/Skeleton/Skeleton.docs.mdx
  components/src/components/SkeletonGroup/SkeletonGroup.docs.mdx
  components/src/components/Spinner/Spinner.docs.mdx
  components/src/components/Stack/Stack.docs.mdx
  components/src/components/Tag/Tag.docs.mdx
  components/src/components/Text/Text.docs.mdx
  components/src/components/ThemeProvider/ThemeProvider.docs.mdx
  components/src/components/ThemeProvider/ThemeProvider.tsx
  components/src/components/VisuallyHidden/VisuallyHidden.docs.mdx
  components/src/css/reset.css.ts
  components/src/css/sprinkles.css.ts
  docs/components/CodePreview/CodePreview.tsx
  docs/components/MDX.tsx
  docs/components/Nav.tsx
  docs/components/PropsTable.tsx
  docs/components/index.ts
  docs/pages/components/[slug].tsx
  docs/utils/getStaticTypes.ts
  docs/utils/github.ts
  scripts/generateComponent.js
Due: yarn lint:fix

docs: add props table (#14)
  .eslintrc
  components/package.json
  components/src/components/Box/Box.docs.mdx
  components/src/components/Button/Button.docs.mdx
  components/src/components/Button/Button.tsx
  components/src/components/Field/Field.docs.mdx
  components/src/components/Heading/Heading.docs.mdx
  components/src/components/Input/Input.docs.mdx
  components/src/components/Skeleton/Skeleton.docs.mdx
  components/src/components/SkeletonGroup/SkeletonGroup.docs.mdx
  components/src/components/Spinner/Spinner.docs.mdx
  components/src/components/Stack/Stack.docs.mdx
  components/src/components/Tag/Tag.docs.mdx
  components/src/components/Text/Text.docs.mdx
  components/src/components/ThemeProvider/ThemeProvider.docs.mdx
  components/src/components/ThemeProvider/ThemeProvider.tsx
  components/src/components/VisuallyHidden/VisuallyHidden.docs.mdx
  components/src/css/reset.css.ts
  components/src/css/sprinkles.css.ts
  docs/components/CodePreview/CodePreview.tsx
  docs/components/MDX.tsx
  docs/components/Nav.tsx
  docs/components/PropsTable.tsx
  docs/components/index.ts
  docs/package.json
  docs/pages/components/[slug].tsx
  docs/utils/getStaticTypes.ts
  docs/utils/github.ts
  package.json
  playroom/package.json
  scripts/generateComponent.js
  yarn.lock
Due: yarn lint:fix, yarn lint:format

Update text secondary and tertiary values
  components/src/components/Button/styles.css.ts
  components/src/components/Tag/styles.css.ts
  components/src/components/Text/Text.docs.mdx
  components/src/components/Text/Text.tsx
  components/src/css/reset.css.ts
  components/src/css/vars.css.ts
  components/src/tokens/color.ts
  docs/components/Header.tsx
Due: yarn lint:fix

Updated documentation interface and transparentTertiary button
  components/src/components/Button/styles.css.ts
  components/src/components/Text/styles.css.ts
  docs/components/CodePreview/CodePreview.tsx
  docs/components/Nav.tsx
  docs/components/PropsTable.tsx
Due: yarn lint:fix

cleaned up secondary and tertiary variants
  components/src/components/Button/Button.docs.mdx
  components/src/components/Button/styles.css.ts
  components/src/css/vars.css.ts
  docs/components/CodePreview/CodePreview.tsx
  docs/components/PropsTable.tsx
  docs/components/ThemeSwitcher.tsx
Due: yarn lint:fix

improved secondary and tertiary css values
  components/src/css/vars.css.ts
  components/src/tokens/color.ts
Due: yarn lint:fix

Feature: Secondary and tertiary textColor (#15)
  components/src/components/Button/Button.docs.mdx
  components/src/components/Button/styles.css.ts
  components/src/components/Tag/styles.css.ts
  components/src/components/Text/Text.docs.mdx
  components/src/components/Text/Text.tsx
  components/src/components/Text/styles.css.ts
  components/src/css/reset.css.ts
  components/src/css/vars.css.ts
  components/src/tokens/color.ts
  docs/components/CodePreview/CodePreview.tsx
  docs/components/Header.tsx
  docs/components/Nav.tsx
  docs/components/PropsTable.tsx
  docs/components/ThemeSwitcher.tsx
Due: yarn lint:fix

docs: link formatting
  docs/utils/github.ts
Due: yarn lint:fix

feat: motion safe
  components/src/components/Spinner/styles.css.ts
  components/src/components/Text/Text.docs.mdx
  components/src/css/index.ts
  components/src/css/sprinkles.css.ts
  components/src/css/utils.test.ts
  components/src/css/utils.ts
  docs/utils/github.ts
Due: yarn lint:fix

docs: link formatting (#16)
  components/src/components/Spinner/styles.css.ts
  components/src/components/Text/Text.docs.mdx
  components/src/css/index.ts
  components/src/css/sprinkles.css.ts
  components/src/css/utils.test.ts
  components/src/css/utils.ts
  docs/utils/github.ts
Due: yarn lint:fix

feat: add remaining icons
  .eslintignore
  .github/workflows/main.yml
  .gitignore
  .prettierignore
  components/jest.config.ts
  components/src/components/Skeleton/Skeleton.test.tsx
  components/src/components/Text/styles.css.ts
  components/src/components/icons/IconNFT/IconNFT.docs.mdx
  components/src/components/icons/IconNFT/IconNFT.snippets.tsx
  components/src/components/icons/IconNFT/IconNFT.tsx
  components/src/components/icons/IconNFT/IconNFTSVG.tsx
  components/src/components/icons/IconNFT/index.ts
  components/src/components/icons/Icons.docs.mdx
  components/src/components/icons/index.ts
  components/src/components/index.ts
  components/src/css/reset.css.ts
  components/src/css/types.ts
  components/src/index.test.ts
  components/src/index.ts
  components/src/tokens/index.ts
  components/src/tokens/opacity.ts
  docs/components/MDX.tsx
  docs/components/SearchIcons.tsx
  icons/ArrowRight.svg
  icons/ChevronLeft.svg
  icons/Close.svg
  icons/Cog.svg
  icons/Collection.svg
  icons/Eth.svg
  icons/GridSolid.svg
  icons/Link.svg
  icons/List.svg
  icons/Menu.svg
  icons/Plus.svg
  icons/Refresh.svg
  icons/UserSolid.svg
  icons/Wallet.svg
  scripts/generateIcons.js
Due: yarn lint:fix, yarn lint:format

feat: add remaining icons (#17)
  .eslintignore
  .github/workflows/main.yml
  .gitignore
  .prettierignore
  components/jest.config.ts
  components/src/components/Skeleton/Skeleton.test.tsx
  components/src/components/Text/styles.css.ts
  components/src/components/icons/IconNFT/IconNFT.docs.mdx
  components/src/components/icons/IconNFT/IconNFT.snippets.tsx
  components/src/components/icons/IconNFT/IconNFT.tsx
  components/src/components/icons/IconNFT/IconNFTSVG.tsx
  components/src/components/icons/IconNFT/index.ts
  components/src/components/icons/Icons.docs.mdx
  components/src/components/icons/index.ts
  components/src/components/index.ts
  components/src/css/reset.css.ts
  components/src/css/types.ts
  components/src/index.test.ts
  components/src/index.ts
  components/src/tokens/index.ts
  components/src/tokens/opacity.ts
  docs/components/MDX.tsx
  docs/components/SearchIcons.tsx
  icons/ArrowRight.svg
  icons/ChevronLeft.svg
  icons/Close.svg
  icons/Cog.svg
  icons/Collection.svg
  icons/Eth.svg
  icons/GridSolid.svg
  icons/Link.svg
  icons/List.svg
  icons/Menu.svg
  icons/Plus.svg
  icons/Refresh.svg
  icons/UserSolid.svg
  icons/Wallet.svg
  scripts/generateIcons.js
Due: yarn lint:fix, yarn lint:format

chore: upgrade next.js
  components/package.json
  components/src/components/Stack/utils.ts
  docs/.babelrc
  docs/components/SearchIcons.tsx
  docs/package.json
  docs/pages/components/[slug].tsx
  docs/tsconfig.json
  package.json
  playroom/package.json
  yarn.lock
Due: yarn lint:fix, yarn lint:format

chore: upgrade next.js (#18)
  components/package.json
  components/src/components/Stack/utils.ts
  docs/.babelrc
  docs/components/SearchIcons.tsx
  docs/package.json
  docs/pages/components/[slug].tsx
  docs/tsconfig.json
  package.json
  playroom/package.json
  yarn.lock
Due: yarn lint:fix, yarn lint:format

feat: add affixes
  components/jest.config.ts
  components/src/components/Button/Button.docs.mdx
  components/src/components/Button/Button.tsx
  components/src/components/Heading/styles.css.ts
  components/src/components/Text/Text.docs.mdx
  components/src/components/Text/styles.css.ts
  components/src/css/reset.css.ts
  components/src/tokens/typography.ts
Due: yarn lint:fix

fix: input max
  components/src/components/Input/Input.tsx
  components/src/components/Input/styles.css.ts
Due: yarn lint:fix

Path conditions:
  yarn lint:fix: any of: *.{js,ts,tsx}
  yarn lint:format: any of: *.{json,md,yml}
