Repository mirror-xyz/degen: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint:fix, yarn lint:format

.lintstagedrc:

{
  "*.{js,ts,tsx}": ["yarn lint:fix"],
  "*.{json,md,yml}": ["yarn lint:format"]
}

fields finesse
  components/src/components/Field/Field.tsx
  components/src/components/FieldSet/FieldSet.tsx
  components/src/components/Heading/Heading.docs.mdx
  components/src/components/Heading/Heading.tsx
  components/src/components/Heading/styles.css.ts
  components/src/components/Input/styles.css.ts
  components/src/tokens/typography.ts
Due: yarn lint:fix

field sizing completion
  components/src/components/Stat/Stat.tsx
  components/src/components/Textarea/styles.css.ts
Due: yarn lint:fix

heroicons v2
  icons/BookOpenSolid.svg
  icons/CogSolid.svg
  icons/DocumentsSolid.svg
  icons/LightningBolt.svg
  icons/LockClosedSolid.svg
  icons/UserGroupSolid.svg
Due: none

solid bolt
  icons/LightningBolt.svg
Due: none

getAvatarGradient
  components/src/components/Avatar/Avatar.tsx
  components/src/components/Avatar/index.ts
  components/src/components/index.ts
  components/src/index.ts
Due: yarn lint:fix

getAvatarGradient (#97)
  components/src/components/Avatar/Avatar.tsx
  components/src/components/Avatar/index.ts
  components/src/components/index.ts
  components/src/index.ts
Due: yarn lint:fix

add underline to text
  components/src/components/Text/Text.docs.mdx
  components/src/components/Text/Text.tsx
  components/src/components/Text/styles.css.ts
Due: yarn lint:fix

add underline to text (#98)
  components/src/components/Text/Text.docs.mdx
  components/src/components/Text/Text.tsx
  components/src/components/Text/styles.css.ts
Due: yarn lint:fix

add open icon
  icons/Open.svg
Due: none

fix stroke
  icons/Open.svg
Due: none

add color to getAvatarGradient
  components/src/components/Avatar/Avatar.tsx
Due: yarn lint:fix

dont show placeholder behind transparent avatar
  components/src/components/Avatar/Avatar.tsx
Due: yarn lint:fix

add color to getAvatarGradient (#100)
  components/src/components/Avatar/Avatar.tsx
Due: yarn lint:fix

make avatargroup small below size 6
  components/src/components/AvatarGroup/AvatarGroup.tsx
Due: yarn lint:fix

make avatargroup small below size 6 (#101)
  components/src/components/AvatarGroup/AvatarGroup.tsx
Due: yarn lint:fix

custom tagValue
  components/src/components/AvatarGroup/AvatarGroup.docs.mdx
  components/src/components/AvatarGroup/AvatarGroup.tsx
Due: yarn lint:fix

custom tagValue (#102)
  components/src/components/AvatarGroup/AvatarGroup.docs.mdx
  components/src/components/AvatarGroup/AvatarGroup.tsx
Due: yarn lint:fix

fix number input styling on firefox
  components/src/components/Input/styles.css.ts
Due: yarn lint:fix

fix number input styling on firefox (#103)
  components/src/components/Input/styles.css.ts
Due: yarn lint:fix

preliminary support for datetime input
  components/src/components/Input/Input.docs.mdx
  components/src/components/Input/Input.tsx
  components/src/components/Input/styles.css.ts
Due: yarn lint:fix

preliminary support for datetime input (#104)
  components/src/components/Input/Input.docs.mdx
  components/src/components/Input/Input.tsx
  components/src/components/Input/styles.css.ts
Due: yarn lint:fix

fix input type
  components/src/components/Input/Input.tsx
Due: yarn lint:fix

createGlobalTheme with pseudo classes
  components/src/css/vars.css.ts
Due: yarn lint:fix

comments
  components/src/css/vars.css.ts
Due: yarn lint:fix

Pass theme tokens down to ::backdrop pseudo element (#105)
  components/src/css/vars.css.ts
Due: yarn lint:fix

new icons
  icons/Check.svg
  icons/TrendingUp.svg
Due: none

new icons (#106)
  icons/Check.svg
  icons/TrendingUp.svg
Due: none

add uppercase mode for input
  components/src/components/Input/Input.docs.mdx
  components/src/components/Input/Input.tsx
  components/src/components/Input/styles.css.ts
Due: yarn lint:fix

add uppercase mode for input (#107)
  components/src/components/Input/Input.docs.mdx
  components/src/components/Input/Input.tsx
  components/src/components/Input/styles.css.ts
Due: yarn lint:fix

add copy and sparkle solid icons
  icons/Copy.svg
  icons/SparkelsSolid.svg
Due: none

add copy and sparkle solid icons (#108)
  icons/Copy.svg
  icons/SparkelsSolid.svg
Due: none

remove size check
  .github/workflows/size.yml
Due: yarn lint:format

add mail icon, fix typo
  icons/Mail.svg
  icons/SparklesSolid.svg
Due: none

fix opacity
  icons/Mail.svg
Due: none

Add mail icon (#110)
  icons/Mail.svg
  icons/SparklesSolid.svg
Due: none

remove size check (#109)
  .github/workflows/size.yml
Due: yarn lint:format

rm aspect ration fallback
  components/src/css/atoms.ts
  components/src/css/injectedStyles.css.ts
  components/src/css/injectedStyles.ts
Due: yarn lint:fix

rm aspect ratio fallback (#111)
  components/src/css/atoms.ts
  components/src/css/injectedStyles.css.ts
  components/src/css/injectedStyles.ts
Due: yarn lint:fix

add extra small button
  components/src/components/Button/Button.docs.mdx
  components/src/components/Button/styles.css.ts
Due: yarn lint:fix
