Repository mirror-xyz/degen: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint:fix, yarn lint:format

.lintstagedrc:

{
  "*.{js,ts,tsx}": ["yarn lint:fix"],
  "*.{json,md,yml}": ["yarn lint:format"]
}

add extra small button (#112)
  components/src/components/Button/Button.docs.mdx
  components/src/components/Button/styles.css.ts
Due: yarn lint:fix

add gap and flex to tag
  components/src/components/Tag/Tag.tsx
Due: yarn lint:fix

add gap and flex to tag (#113)
  components/src/components/Tag/Tag.tsx
Due: yarn lint:fix

add ArrowUpRight
  icons/ArrowUpRight.svg
Due: none

add ArrowUpRight (#114)
  icons/ArrowUpRight.svg
Due: none

Tag ellipses
  components/src/components/Tag/Tag.docs.mdx
  components/src/components/Tag/Tag.tsx
  components/src/components/Tag/styles.css.ts
Due: yarn lint:fix

Tag ellipses (#115)
  components/src/components/Tag/Tag.docs.mdx
  components/src/components/Tag/Tag.tsx
  components/src/components/Tag/styles.css.ts
Due: yarn lint:fix

extrasmall padding fix and minWidth
  components/src/components/Button/Button.docs.mdx
  components/src/components/Button/Button.tsx
  components/src/components/Button/styles.css.ts
Due: yarn lint:fix

Button: extraSmall padding update and minWidth prop
  components/src/components/Button/Button.docs.mdx
  components/src/components/Button/Button.tsx
  components/src/components/Button/styles.css.ts
Due: yarn lint:fix

add new refresh icon
  icons/RefreshV2.svg
Due: none

adjust icon
  icons/RefreshV2.svg
Due: none

add etherscan logo icon
  icons/Etherscan.svg
Due: none

add etherscan logo icon (#118)
  icons/Etherscan.svg
Due: none

add numeric select component
  components/src/components/NumericSelect/NumericSelect.docs.mdx
  components/src/components/NumericSelect/NumericSelect.snippets.tsx
  components/src/components/NumericSelect/NumericSelect.tsx
  components/src/components/NumericSelect/index.ts
  components/src/components/index.ts
  components/src/index.ts
Due: yarn lint:fix

add numeric select component (#119)
  components/src/components/NumericSelect/NumericSelect.docs.mdx
  components/src/components/NumericSelect/NumericSelect.snippets.tsx
  components/src/components/NumericSelect/NumericSelect.tsx
  components/src/components/NumericSelect/index.ts
  components/src/components/index.ts
  components/src/index.ts
Due: yarn lint:fix

add 244
  components/src/css/sprinkles.css.ts
Due: yarn lint:fix

add 244 (#120)
  components/src/css/sprinkles.css.ts
Due: yarn lint:fix

add showMax prop to numeric select
  components/src/components/NumericSelect/NumericSelect.tsx
Due: yarn lint:fix

add showMax prop to numeric select (#121)
  components/src/components/NumericSelect/NumericSelect.tsx
Due: yarn lint:fix

add height to button props
  components/src/components/Button/Button.tsx
Due: yarn lint:fix

add height to button props (#123)
  components/src/components/Button/Button.tsx
Due: yarn lint:fix

fix
  components/src/components/Button/Button.tsx
Due: yarn lint:fix

remove prop
  components/src/components/Button/Button.tsx
Due: yarn lint:fix

Remove Button Prop (#124)
  components/src/components/Button/Button.tsx
Due: yarn lint:fix

test
  components/src/components/Text/Text.tsx
Due: yarn lint:fix

add tag background variant
  components/src/components/Tag/Tag.docs.mdx
  components/src/components/Tag/styles.css.ts
Due: yarn lint:fix

add tagTone to AvatarGroup
  components/src/components/AvatarGroup/AvatarGroup.docs.mdx
  components/src/components/AvatarGroup/AvatarGroup.tsx
Due: yarn lint:fix

design update
  components/src/components/AvatarGroup/AvatarGroup.docs.mdx
  components/src/components/Tag/Tag.docs.mdx
  components/src/components/Tag/styles.css.ts
Due: yarn lint:fix

Update Tag and AvatarGroup (#126)
  components/src/components/AvatarGroup/AvatarGroup.docs.mdx
  components/src/components/AvatarGroup/AvatarGroup.tsx
  components/src/components/Tag/Tag.docs.mdx
  components/src/components/Tag/styles.css.ts
Due: yarn lint:fix

fix small button text size
  components/src/components/Button/styles.css.ts
Due: yarn lint:fix

fix small button text size (#127)
  components/src/components/Button/styles.css.ts
Due: yarn lint:fix

make visual changes to numeric select
  components/src/components/NumericSelect/NumericSelect.tsx
Due: yarn lint:fix

add reverse flex values
  components/src/css/sprinkles.css.ts
Due: yarn lint:fix

Numeric select changes (#128)
  components/src/components/NumericSelect/NumericSelect.tsx
  components/src/css/sprinkles.css.ts
Due: yarn lint:fix

add docs for tokens
  components/src/components/Button/Button.docs.mdx
  components/src/tokens/docs/Borders.docs.mdx
  components/src/tokens/docs/Colors.docs.mdx
  components/src/tokens/docs/Opacity.docs.mdx
  components/src/tokens/docs/Shadows.docs.mdx
  components/src/tokens/docs/Space.docs.mdx
  components/src/tokens/docs/Typography.docs.mdx
  docs/next.config.js
  docs/src/utils/fs.ts
Due: yarn lint:fix

add docs for tokens (#129)
  components/src/components/Button/Button.docs.mdx
  components/src/tokens/docs/Borders.docs.mdx
  components/src/tokens/docs/Colors.docs.mdx
  components/src/tokens/docs/Opacity.docs.mdx
  components/src/tokens/docs/Shadows.docs.mdx
  components/src/tokens/docs/Space.docs.mdx
  components/src/tokens/docs/Typography.docs.mdx
  docs/next.config.js
  docs/src/utils/fs.ts
Due: yarn lint:fix

upgrade ndoe version
  .github/workflows/main.yml
  .github/workflows/publish.yml
  .node-version
  docs/package.json
  package.json
Due: yarn lint:format

update yarn version
  .yarn/releases/yarn-3.5.1.cjs
  .yarn/releases/yarn-berry.cjs
  .yarnrc.yml
  package.json
  yarn.lock
Due: yarn lint:format

Revert "upgrade ndoe version"
  .github/workflows/main.yml
  .github/workflows/publish.yml
  .node-version
  docs/package.json
  package.json
Due: yarn lint:format

Revert "Revert "upgrade ndoe version""
  .github/workflows/main.yml
  .github/workflows/publish.yml
  .node-version
  docs/package.json
  package.json
Due: yarn lint:format
