Repository mirror-xyz/degen: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint:fix, yarn lint:format

v0.1.1
  package.json
  tsconfig.json
Due: yarn lint:format

fix: tests
  jest.config.ts
  package.json
  src/components/theme-provider/theme-provider.tsx
  src/index.test.ts
  src/styles/atoms.css.ts
  yarn.lock
Due: yarn lint:fix, yarn lint:format

feat: playroom snippets
  package.json
  playroom.config.js
  src/components/text/text.snippets.tsx
  src/components/text/text.tsx
  src/components/theme-provider/theme-provider.tsx
  src/components/visually-hidden/visually-hidden.snippets.tsx
  src/components/visually-hidden/visually-hidden.tsx
  src/playroom/components.ts
  src/playroom/snippets.ts
  src/playroom/types.ts
  src/styles/theme.css.ts
  src/types/index.ts
  tsconfig.json
  vite.config.ts
  yarn.lock
Due: yarn lint:fix, yarn lint:format

feat: add fonts
  README.md
  src/components/box/box.snippets.tsx
  src/components/box/box.tsx
  src/components/index.ts
  src/components/text/text.tsx
  src/components/theme-provider/theme-provider.tsx
  src/hooks/index.ts
  src/hooks/use-theme.ts
  src/index.test.ts
  src/index.ts
  src/playroom/frame-component.tsx
  src/playroom/use-scope.ts
  src/styles/atoms.css.ts
  src/styles/global.css.ts
  src/styles/theme.css.ts
  src/styles/tokens/border.ts
  src/styles/tokens/index.ts
  src/styles/tokens/typography.ts
  src/styles/utils.ts
  src/utils/create-variants.ts
  src/utils/index.ts
  vite.config.ts
Due: yarn lint:fix, yarn lint:format

test: usetheme
  package.json
  src/components/box/box.snippets.tsx
  src/components/text/text.snippets.tsx
  src/components/text/text.test.tsx
  src/components/theme-provider/theme-provider.test.tsx
  src/components/visually-hidden/visually-hidden.snippets.tsx
  src/components/visually-hidden/visually-hidden.test.tsx
  src/hooks/test/use-theme.test.tsx
  src/utils/test/create-variant.test.ts
  test/index.tsx
  yarn.lock
Due: yarn lint:fix, yarn lint:format

feat: add button
  src/components/box/box.test.tsx
  src/components/button/button.snippets.tsx
  src/components/button/button.test.tsx
  src/components/button/button.tsx
  src/components/button/index.ts
  src/components/index.ts
  src/components/spinner/index.ts
  src/components/spinner/spinner.snippets.tsx
  src/components/spinner/spinner.test.tsx
  src/components/spinner/spinner.tsx
  src/components/spinner/styles.css.ts
  src/components/text/text.test.tsx
  src/components/text/text.tsx
  src/components/visually-hidden/styles.css.ts
  src/components/visually-hidden/visually-hidden.test.tsx
  src/components/visually-hidden/visually-hidden.tsx
  src/hooks/index.ts
  src/hooks/test/use-box-props.test.tsx
  src/hooks/use-box-props.ts
  src/index.test.ts
  src/playroom/use-scope.ts
  src/styles/atoms.css.ts
  src/styles/tokens/border.ts
  src/styles/tokens/color.ts
Due: yarn lint:fix

feat: box shadow
  src/components/box/box.test.tsx
  src/components/box/box.tsx
  src/components/box/create-box.ts
  src/components/button/button.snippets.tsx
  src/components/button/button.tsx
  src/components/index.ts
  src/components/spinner/spinner.tsx
  src/components/text/text.tsx
  src/components/theme-provider/theme-provider.tsx
  src/hooks/index.ts
  src/hooks/test/use-box-props.test.tsx
  src/hooks/use-box-props.ts
  src/hooks/use-theme.ts
  src/index.test.ts
  src/index.ts
  src/styles/atoms.css.ts
  src/styles/theme.css.ts
  src/styles/tokens/border.ts
  src/styles/tokens/color.ts
  src/styles/tokens/index.ts
  src/styles/tokens/transition.ts
  src/utils/create-variants.ts
  src/utils/index.ts
  src/utils/test/create-variant.test.ts
  test/index.tsx
Due: yarn lint:fix

feat: button loading
  package.json
  src/components/box/box.snippets.tsx
  src/components/button/button.tsx
  src/components/button/styles.css.ts
  src/components/spinner/spinner.tsx
  src/components/theme-provider/theme-provider.tsx
  src/components/visually-hidden/visually-hidden.tsx
  src/index.test.ts
  src/index.ts
  src/styles/atoms.css.ts
  src/styles/global.css.ts
  src/styles/theme.css.ts
  src/styles/tokens/transition.ts
  yarn.lock
Due: yarn lint:fix, yarn lint:format

feat: add container
  src/components/box/create-box.ts
  src/components/button/button.tsx
  src/components/button/styles.css.ts
  src/components/container/container.tsx
  src/components/container/index.ts
  src/components/text/text.tsx
  src/styles/atoms.css.ts
  src/styles/theme.css.ts
  src/styles/utils.ts
  src/styles/variants.ts
Due: yarn lint:fix

refactor: use stitches
  jest.config.ts
  package.json
  playroom.config.js
  src/components/container/container.tsx
  src/components/container/index.ts
  src/components/visually-hidden/styles.css.ts
  src/components/visually-hidden/visually-hidden.tsx
  src/index.test.ts
  src/index.ts
  src/styles/atoms.css.ts
  src/styles/global.css.ts
  src/styles/index.ts
  src/styles/theme.css.ts
  src/styles/tokens/border.ts
  src/styles/tokens/color.ts
  src/styles/tokens/effects.ts
  src/styles/tokens/index.ts
  src/styles/tokens/layout.ts
  src/styles/tokens/transition.ts
  src/styles/tokens/typography.ts
  src/styles/utils.ts
  src/styles/variants.ts
  vite.config.ts
  yarn.lock
Due: yarn lint:fix, yarn lint:format

feat: add visuallyhidden
  src/components/VisuallyHidden/VisuallyHidden.snippets.tsx
  src/components/VisuallyHidden/VisuallyHidden.test.tsx
  src/components/VisuallyHidden/VisuallyHidden.tsx
  src/components/VisuallyHidden/index.ts
  src/components/VisuallyHidden/styles.css.ts
  src/index.test.ts
  src/index.ts
Due: yarn lint:fix

feat: checkpoint
  package.json
  playroom.config.js
  src/components/Box/Box.test.tsx
  src/components/Box/Box.tsx
  src/components/Box/createBox.ts
  src/components/Box/index.ts
  src/components/Spinner/Spinner.snippets.tsx
  src/components/Spinner/Spinner.test.tsx
  src/components/Spinner/Spinner.tsx
  src/components/Spinner/index.ts
  src/components/Spinner/styles.css.ts
  src/components/VisuallyHidden/VisuallyHidden.tsx
  src/components/VisuallyHidden/styles.css.ts
  src/components/index.ts
  src/css/atoms.ts
  src/css/index.ts
  src/css/reset.css.ts
  src/css/sprinkles.css.ts
  src/index.test.ts
  src/index.ts
  src/playroom/styles.css.ts
  src/theme/ThemeProvider.tsx
  src/theme/index.ts
  src/theme/utils.ts
  src/theme/vars.css.ts
  yarn.lock
Due: yarn lint:fix, yarn lint:format

fix: reset
  .vscode/extensions.json
  .vscode/settings.json
  package.json
  src/atoms/atoms.ts
  src/atoms/index.ts
  src/atoms/reset.css.ts
  src/atoms/sprinkles.css.ts
  src/components/Box/Box.tsx
  src/components/Button/Button.snippets.tsx
  src/components/Button/Button.test.tsx
  src/components/Button/Button.tsx
  src/components/Button/index.ts
  src/components/Button/styles.css.ts
  src/components/Spinner/styles.css.ts
  src/components/Text/Text.snippets.tsx
  src/components/Text/Text.test.tsx
  src/components/Text/Text.tsx
  src/components/Text/index.ts
  src/components/Text/styles.css.ts
  src/components/VisuallyHidden/VisuallyHidden.tsx
  src/components/index.ts
  src/index.test.ts
  src/index.ts
  src/playroom/components.ts
  src/theme/ThemeProvider.tsx
  src/types/focus-visible.d.ts
  vite.config.ts
  yarn.lock
Due: yarn lint:fix, yarn lint:format

ci: add build
  .github/workflows/main.yml
  .github/workflows/size.yml
  package.json
  src/atoms/sprinkles.css.ts
  src/components/Text/Text.tsx
  yarn.lock
Due: yarn lint:fix, yarn lint:format

chore: checkpoint
  package.json
  src/atoms/sprinkles.css.ts
  src/theme/ThemeProvider.test.tsx
  src/theme/ThemeProvider.tsx
  src/theme/index.ts
  src/theme/useTheme.test.tsx
  src/theme/useTheme.ts
  src/tokens/border.ts
  src/tokens/space.ts
  yarn.lock
Due: yarn lint:fix, yarn lint:format

refactor: atoms
  src/atoms/atoms.ts
  src/atoms/index.ts
  src/components/Box/Box.tsx
  src/components/Button/styles.css.ts
  src/components/Spinner/styles.css.ts
  src/components/Text/styles.css.ts
  src/index.test.ts
  src/index.ts
  src/playroom/FrameComponent.tsx
  src/playroom/components.ts
  src/theme/ThemeProvider.tsx
  src/theme/atoms.css.ts
  src/theme/index.ts
  src/theme/reset.css.ts
  test/index.tsx
Due: yarn lint:fix

fix: build error
  src/components/Box/Box.tsx
  src/theme/atoms.ts
  src/theme/index.ts
  src/theme/sprinkles.css.ts
  src/theme/utils.ts
  src/theme/vars.css.ts
  src/tokens/breakpoints.ts
  src/tokens/index.ts
  vite.config.ts
Due: yarn lint:fix

fix: type error
  src/theme/vars.css.ts
Due: yarn lint:fix

chore: checkpoint button
  .github/workflows/main.yml
  .lintstagedrc
  src/components/Button/Button.tsx
  src/components/Button/styles.css.ts
  src/components/Text/Text.tsx
  src/components/Text/styles.css.ts
  src/theme/ThemeProvider.tsx
  src/theme/index.ts
  src/theme/sprinkles.css.ts
  src/theme/utils.ts
  src/theme/vars.css.ts
  src/tokens/border.ts
Due: yarn lint:fix

feat: playroom state
  src/components/Box/Box.snippets.tsx
  src/components/Button/Button.tsx
  src/components/Button/styles.css.ts
  src/components/Spinner/Spinner.snippets.tsx
  src/components/Stack/Stack.snippets.tsx
  src/components/Stack/Stack.test.tsx
  src/components/Stack/Stack.tsx
  src/components/Stack/index.ts
  src/components/Text/Text.snippets.tsx
  src/components/index.ts
  src/index.test.ts
  src/index.ts
  src/playroom/FrameComponent.tsx
  src/playroom/PlayroomState.tsx
  src/playroom/useScope.ts
  src/theme/ThemeProvider.tsx
  src/theme/sprinkles.css.ts
  src/theme/utils.ts
Due: yarn lint:fix

test: theme utils
  src/components/Stack/Stack.tsx
  src/theme/utils.test.ts
Due: yarn lint:fix

chore: clean up vite config
  package.json
  vite.config.ts
  yarn.lock
Due: yarn lint:fix, yarn lint:format

feat: basic stack
  src/components/Box/Box.tsx
  src/components/Button/Button.tsx
  src/components/Spinner/Spinner.tsx
  src/components/Stack/Stack.snippets.tsx
  src/components/Stack/Stack.tsx
  src/components/Stack/utils.ts
  src/components/Text/Text.tsx
  src/components/VisuallyHidden/VisuallyHidden.tsx
  src/playroom/FrameComponent.tsx
  src/playroom/snippets.ts
  src/theme/ThemeProvider.tsx
  src/theme/breakpoints.ts
  src/theme/index.ts
  src/theme/sprinkles.css.ts
  src/theme/vars.css.ts
  src/tokens/breakpoints.ts
  src/tokens/index.ts
  yarn.lock
Due: yarn lint:fix

chore: checkpoint icons
  .gitignore
  package.json
  src/components/index.ts
  src/icons/BookOpen.svg
  src/theme/ThemeProvider.tsx
  svgr.config.js
  yarn.lock
Due: yarn lint:fix, yarn lint:format

fix: build
  .eslintignore
  icons/BookOpen.svg
  jest.config.ts
  package.json
  src/components/index.ts
  test/__mocks__/matchMedia.js
  test/__mocks__/svgrMock.js
  test/index.tsx
Due: yarn lint:fix, yarn lint:format

feat: add skeleton
  src/components/Skeleton/Skeleton.snippets.tsx
  src/components/Skeleton/Skeleton.test.tsx
  src/components/Skeleton/Skeleton.tsx
  src/components/Skeleton/index.ts
  src/components/Skeleton/styles.css.ts
  src/components/index.ts
  src/index.test.ts
  src/index.ts
  svgr.config.js
Due: yarn lint:fix

refactor: recipe types
  src/components/Button/Button.tsx
  src/components/Button/styles.css.ts
  src/components/Spinner/Spinner.tsx
  src/components/Spinner/styles.css.ts
  src/components/Text/Text.tsx
  src/components/Text/styles.css.ts
Due: yarn lint:fix

feat: clean up stack
  package.json
  src/components/Skeleton/Skeleton.tsx
  src/components/Stack/Stack.test.tsx
  src/components/Stack/Stack.tsx
  src/components/Stack/utils.test.ts
  src/components/Stack/utils.ts
  src/components/index.ts
  src/index.test.ts
  src/index.ts
  src/theme/sprinkles.css.ts
  src/types/index.ts
Due: yarn lint:fix, yarn lint:format

feat: generate icons
  .eslintignore
  .eslintrc
  .gitignore
  icons/BookOpen.svg
  jest.config.ts
  package.json
  scripts/generateIcons.js
  src/components/icons/__snapshots__/icons.test.ts.snap
  src/components/icons/icons.test.ts
  src/components/index.ts
  src/index.test.ts
  src/index.ts
  svgr.config.js
  test/__mocks__/svgrMock.js
  yarn.lock
Due: yarn lint:fix, yarn lint:format

feat: button shape
  .eslintignore
  .gitignore
  icons/ChevronDown.svg
  icons/ChevronRight.svg
  icons/LockClosed.svg
  icons/PlusSmall.svg
  package.json
  scripts/generateIcons.js
  src/components/Button/Button.tsx
  src/components/Button/styles.css.ts
  src/components/icons/__snapshots__/icons.test.ts.snap
  src/components/icons/types.ts
  src/index.test.ts
  src/index.ts
  src/types/index.ts
  yarn.lock
Due: yarn lint:fix, yarn lint:format

chore: reduce size limit
  .size-limit.json
Due: yarn lint:format

chore: start more components
  .github/workflows/main.yml
  .lintstagedrc
  .size-limit.json
  package.json
Due: yarn lint:format

feat: add button icon
  src/components/Button/Button.tsx
  src/components/Button/styles.css.ts
  src/components/Button/utils.test.ts
  src/components/Button/utils.ts
  src/tokens/space.ts
Due: yarn lint:fix

feat: storybook
  .eslintignore
  .storybook/main.js
  .storybook/manager.js
  .storybook/preview.tsx
  package.json
  playroom.config.js
  src/components/Spinner/Spinner.stories.tsx
  src/components/Spinner/Spinner.tsx
  yarn.lock
Due: yarn lint:fix, yarn lint:format

chore: start progressbar
  .prettierignore
  package.json
  src/components/Button/Button.snippets.tsx
  src/components/Button/Button.tsx
  src/components/Button/styles.css.ts
  src/components/Button/utils.test.ts
  src/components/Button/utils.ts
  src/components/ProgressBar/ProgressBar.snippets.tsx
  src/components/ProgressBar/ProgressBar.test.tsx
  src/components/ProgressBar/ProgressBar.tsx
  src/components/ProgressBar/index.ts
  src/components/ProgressBar/styles.css.ts
  src/components/Spinner/Spinner.tsx
  src/components/Spinner/styles.css.ts
  src/components/Stack/Stack.tsx
  src/components/Text/Text.tsx
  src/components/index.ts
  src/index.test.ts
  src/index.ts
  src/playroom/FrameComponent.tsx
  src/tokens/space.ts
  tsconfig.json
  yarn.lock
Due: yarn lint:fix, yarn lint:format

feat: add generic typeguard check
  src/components/ProgressBar/ProgressBar.tsx
  src/utils/index.ts
  src/utils/isOfType.test.ts
  src/utils/isOfType.ts
Due: yarn lint:fix

refactor: clean up button props
  src/components/Button/Button.snippets.tsx
  src/components/Button/Button.tsx
  src/components/Button/styles.css.ts
  src/components/ProgressBar/ProgressBar.snippets.tsx
  src/components/ProgressBar/ProgressBar.test.tsx
  src/components/ProgressBar/ProgressBar.tsx
  src/components/ProgressBar/styles.css.ts
  src/components/Spinner/styles.css.ts
  src/utils/isOfType.ts
Due: yarn lint:fix

Path conditions:
  yarn lint:fix: any of: *.{js,ts,tsx}
  yarn lint:format: any of: *.{json,md,yaml}
