Repository mirror-xyz/degen: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint:fix, yarn lint:format

.lintstagedrc:

{
  "*.{js,ts,tsx}": ["yarn lint:fix"],
  "*.{json,md,yml}": ["yarn lint:format"]
}

chore: add icons
  icons/Exclamation.svg
  icons/Upload.svg
Due: none

refactor: box shadow
  components/src/components/Button/Button.docs.mdx
  components/src/components/Button/Button.tsx
  components/src/components/Button/styles.css.ts
  components/src/components/Input/Input.tsx
  components/src/components/Input/styles.css.ts
  components/src/components/Tag/Tag.docs.mdx
  components/src/components/Tag/Tag.tsx
  components/src/components/Tag/styles.css.ts
  components/src/components/ThemeProvider/ThemeProvider.tsx
  components/src/css/index.ts
  components/src/css/sprinkles.css.ts
  components/src/css/vars.css.ts
  components/src/tokens/color.ts
  docs/components/PropsTable.tsx
  docs/components/SearchIcons.tsx
Due: yarn lint:fix

refactor: token names
  components/src/components/Button/Button.docs.mdx
  components/src/components/Button/Button.tsx
  components/src/components/Button/styles.css.ts
  components/src/components/Input/styles.css.ts
  components/src/components/Skeleton/Skeleton.docs.mdx
  components/src/components/Skeleton/Skeleton.tsx
  components/src/components/Spinner/Spinner.docs.mdx
  components/src/components/Spinner/Spinner.tsx
  components/src/components/Tag/Tag.docs.mdx
  components/src/components/Tag/Tag.tsx
  components/src/components/Tag/styles.css.ts
  components/src/components/Text/Text.docs.mdx
  components/src/components/icons/IconNFT/IconNFT.tsx
  components/src/tokens/border.ts
  components/src/tokens/typography.ts
  docs/components/CodeBlock.tsx
  docs/components/CodePreview/CodePreview.tsx
  docs/components/PropsTable.tsx
  docs/components/SearchIcons.tsx
  scripts/generateIcons.js
Due: yarn lint:fix

feat: button affix and typography sizing (#19)
  components/jest.config.ts
  components/src/components/Button/Button.docs.mdx
  components/src/components/Button/Button.tsx
  components/src/components/Button/styles.css.ts
  components/src/components/Heading/styles.css.ts
  components/src/components/Input/Input.tsx
  components/src/components/Input/styles.css.ts
  components/src/components/Skeleton/Skeleton.docs.mdx
  components/src/components/Skeleton/Skeleton.tsx
  components/src/components/Spinner/Spinner.docs.mdx
  components/src/components/Spinner/Spinner.tsx
  components/src/components/Tag/Tag.docs.mdx
  components/src/components/Tag/Tag.tsx
  components/src/components/Tag/styles.css.ts
  components/src/components/Text/Text.docs.mdx
  components/src/components/Text/styles.css.ts
  components/src/components/ThemeProvider/ThemeProvider.tsx
  components/src/components/icons/IconNFT/IconNFT.tsx
  components/src/css/index.ts
  components/src/css/reset.css.ts
  components/src/css/sprinkles.css.ts
  components/src/css/vars.css.ts
  components/src/tokens/border.ts
  components/src/tokens/color.ts
  components/src/tokens/typography.ts
  docs/components/CodeBlock.tsx
  docs/components/CodePreview/CodePreview.tsx
  docs/components/PropsTable.tsx
  docs/components/SearchIcons.tsx
  icons/Exclamation.svg
  icons/Upload.svg
  scripts/generateIcons.js
Due: yarn lint:fix

docs: add guides
  components/src/components/Input/Input.docs.mdx
  docs/src/components/Nav.tsx
  docs/src/components/SkipNav.tsx
  docs/src/guides/development.mdx
  docs/src/guides/playroom.mdx
  docs/src/pages/guides/[slug].tsx
  docs/src/pages/index.mdx
  docs/src/utils/fs.ts
  docs/src/utils/getComponent.ts
  docs/tsconfig.json
  playroom/src/useScope.ts
Due: yarn lint:fix, yarn lint:format

chore: tweaks
  docs/src/guides/playroom.mdx
  docs/src/pages/index.mdx
Due: none

chore: add issue templates
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/config.yml
  README.md
  components/src/components/Button/styles.css.ts
  docs/src/guides/development.mdx
Due: yarn lint:fix, yarn lint:format

feat: force theme accent
  components/src/components/ThemeProvider/ThemeProvider.docs.mdx
  components/src/components/ThemeProvider/ThemeProvider.test.tsx
  components/src/components/ThemeProvider/ThemeProvider.tsx
  components/src/css/vars.css.ts
  docs/src/components/CodePreview/CodePreview.tsx
Due: yarn lint:fix

feat: force theme accent (#21)
  components/src/components/ThemeProvider/ThemeProvider.docs.mdx
  components/src/components/ThemeProvider/ThemeProvider.test.tsx
  components/src/components/ThemeProvider/ThemeProvider.tsx
  components/src/css/vars.css.ts
  docs/src/components/CodePreview/CodePreview.tsx
Due: yarn lint:fix

refactor: prefix accent vars
  components/src/css/vars.css.ts
Due: yarn lint:fix

refactor: prefix accent vars (#22)
  components/src/css/vars.css.ts
Due: yarn lint:fix

fix: boolean props
  .github/ISSUE_TEMPLATE/bug_report.yml
  components/src/components/Button/Button.tsx
  components/src/components/Button/styles.css.ts
  components/src/components/Input/Input.tsx
  components/src/components/Input/styles.css.ts
  components/src/components/Tag/styles.css.ts
Due: yarn lint:fix, yarn lint:format

fix: boolean props (#23)
  .github/ISSUE_TEMPLATE/bug_report.yml
  components/src/components/Button/Button.tsx
  components/src/components/Button/styles.css.ts
  components/src/components/Input/Input.tsx
  components/src/components/Input/styles.css.ts
  components/src/components/Tag/styles.css.ts
Due: yarn lint:fix, yarn lint:format

fix: forced accent
  components/src/components/ThemeProvider/ThemeProvider.tsx
  docs/src/pages/index.mdx
Due: yarn lint:fix

fix: forced accent (#24)
  components/src/components/ThemeProvider/ThemeProvider.tsx
  docs/src/pages/index.mdx
Due: yarn lint:fix

Added the stat component
  components/src/components/Stat/Stat.docs.mdx
  components/src/components/Stat/Stat.snippets.tsx
  components/src/components/Stat/Stat.test.tsx
  components/src/components/Stat/Stat.tsx
  components/src/components/Stat/index.ts
  components/src/components/index.ts
Due: yarn lint:fix

Responsive headings
  components/src/components/Heading/Heading.docs.mdx
  components/src/components/Heading/styles.css.ts
Due: yarn lint:fix

fixed optional params
  components/src/components/Stat/Stat.tsx
Due: yarn lint:fix

refactor: text defaults
  components/src/components/Heading/Heading.tsx
  components/src/components/Heading/styles.css.ts
  components/src/components/Text/Text.tsx
  components/src/tokens/typography.ts
  docs/src/pages/index.mdx
Due: yarn lint:fix

Responsive headings (#26)
  components/src/components/Heading/Heading.docs.mdx
  components/src/components/Heading/Heading.tsx
  components/src/components/Heading/styles.css.ts
  components/src/components/Text/Text.tsx
  components/src/tokens/typography.ts
  docs/src/pages/index.mdx
Due: yarn lint:fix

responsive heading
  components/src/components/Heading/Heading.tsx
  components/src/components/Heading/styles.css.ts
  components/src/components/Stat/Stat.tsx
Due: yarn lint:fix

bundle
  docs/tsconfig.tsbuildinfo
Due: none

tests
  components/src/components/Stat/Stat.test.tsx
Due: yarn lint:fix

Stat component (#25)
  components/src/components/Heading/Heading.tsx
  components/src/components/Heading/styles.css.ts
  components/src/components/Stat/Stat.docs.mdx
  components/src/components/Stat/Stat.snippets.tsx
  components/src/components/Stat/Stat.test.tsx
  components/src/components/Stat/Stat.tsx
  components/src/components/Stat/index.ts
  components/src/components/index.ts
  docs/tsconfig.tsbuildinfo
Due: yarn lint:fix

subvalue to value
  components/src/components/Stat/Stat.tsx
Due: yarn lint:fix

chore: clean up
  .gitignore
  components/src/components/Stat/Stat.docs.mdx
  components/src/components/Stat/Stat.tsx
  components/src/index.test.ts
  components/src/index.ts
  docs/tsconfig.tsbuildinfo
Due: yarn lint:fix

chore: clean up (#27)
  .gitignore
  components/src/components/Stat/Stat.docs.mdx
  components/src/components/Stat/Stat.tsx
  components/src/index.test.ts
  components/src/index.ts
  docs/tsconfig.tsbuildinfo
Due: yarn lint:fix

tag tertiary color
  components/src/components/Tag/styles.css.ts
Due: yarn lint:fix

feat: add button link
  components/src/components/Box/Box.tsx
  components/src/components/Box/index.ts
  components/src/components/Button/Button.docs.mdx
  components/src/components/Button/Button.tsx
  components/src/components/Button/utils.ts
  components/src/components/Heading/Heading.tsx
  components/src/components/Input/Input.tsx
  components/src/components/Skeleton/Skeleton.tsx
  components/src/components/Spinner/Spinner.tsx
  components/src/components/Stack/Stack.tsx
  components/src/components/Text/Text.tsx
  components/src/components/icons/IconNFT/IconNFT.tsx
  docs/src/components/CodePreview/CodePreview.tsx
  icons/ChevronUp.svg
  scripts/generateIcons.js
Due: yarn lint:fix

feat: add button link (#29)
  components/src/components/Box/Box.tsx
  components/src/components/Box/index.ts
  components/src/components/Button/Button.docs.mdx
  components/src/components/Button/Button.tsx
  components/src/components/Button/utils.ts
  components/src/components/Heading/Heading.tsx
  components/src/components/Input/Input.tsx
  components/src/components/Skeleton/Skeleton.tsx
  components/src/components/Spinner/Spinner.tsx
  components/src/components/Stack/Stack.tsx
  components/src/components/Text/Text.tsx
  components/src/components/icons/IconNFT/IconNFT.tsx
  docs/src/components/CodePreview/CodePreview.tsx
  icons/ChevronUp.svg
  scripts/generateIcons.js
Due: yarn lint:fix

chore: update bug report template
  .github/ISSUE_TEMPLATE/bug_report.yml
Due: yarn lint:format

feat: add textarea
  components/src/components/Input/Input.tsx
  components/src/components/Input/styles.css.ts
  components/src/components/Textarea/Textarea.docs.mdx
  components/src/components/Textarea/Textarea.snippets.tsx
  components/src/components/Textarea/Textarea.test.tsx
  components/src/components/Textarea/Textarea.tsx
  components/src/components/Textarea/index.ts
  components/src/components/Textarea/styles.css.ts
  components/src/components/index.ts
  components/src/index.test.ts
  components/src/index.ts
  icons/ArrowUp.svg
Due: yarn lint:fix

feat: add textarea (#30)
  components/src/components/Input/Input.tsx
  components/src/components/Input/styles.css.ts
  components/src/components/Textarea/Textarea.docs.mdx
  components/src/components/Textarea/Textarea.snippets.tsx
  components/src/components/Textarea/Textarea.test.tsx
  components/src/components/Textarea/Textarea.tsx
  components/src/components/Textarea/index.ts
  components/src/components/Textarea/styles.css.ts
  components/src/components/index.ts
  components/src/index.test.ts
  components/src/index.ts
  icons/ArrowUp.svg
Due: yarn lint:fix

feat: media input
  components/src/components/Field/Field.tsx
  components/src/components/MediaInput/MediaInput.docs.mdx
  components/src/components/MediaInput/MediaInput.snippets.tsx
  components/src/components/MediaInput/MediaInput.test.tsx
  components/src/components/MediaInput/MediaInput.tsx
  components/src/components/MediaInput/index.ts
  components/src/components/MediaInput/styles.css.ts
  components/src/components/index.ts
  components/src/hooks/index.ts
  components/src/hooks/useFieldIds.test.ts
  components/src/hooks/useFieldIds.ts
  components/src/index.test.ts
  components/src/index.ts
Due: yarn lint:fix

stat spacing
  components/src/components/Stat/Stat.tsx
Due: yarn lint:fix

adjust extra large font size
  components/src/tokens/typography.ts
Due: yarn lint:fix

feat: add preview
  components/src/components/Button/Button.tsx
  components/src/components/MediaInput/MediaInput.docs.mdx
  components/src/components/MediaInput/MediaInput.tsx
  components/src/components/MediaInput/styles.css.ts
  components/src/components/Tag/Tag.tsx
  components/src/components/Tag/styles.css.ts
  components/src/css/sprinkles.css.ts
  docs/src/components/PropsTable.tsx
  icons/Document.svg
Due: yarn lint:fix

chore: tweak styles
  components/src/components/MediaInput/MediaInput.tsx
  components/src/components/MediaInput/styles.css.ts
Due: yarn lint:fix
