Repository mirror-xyz/degen: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint:fix, yarn lint:format

ci job node version bump
  .github/workflows/main.yml
  .github/workflows/publish.yml
Due: yarn lint:format

lint fixes
  components/src/components/Avatar/Avatar.snippets.tsx
  components/src/components/AvatarGroup/AvatarGroup.snippets.tsx
  components/src/components/Button/Button.snippets.tsx
  components/src/components/ButtonCard/ButtonCard.snippets.tsx
  components/src/components/Card/Card.snippets.tsx
  components/src/components/Field/Field.snippets.tsx
  components/src/components/FieldSet/FieldSet.snippets.tsx
  components/src/components/FileInput/FileInput.snippets.tsx
  components/src/components/Heading/Heading.snippets.tsx
  components/src/components/Input/Input.snippets.tsx
  components/src/components/MediaPicker/MediaPicker.snippets.tsx
  components/src/components/NumericSelect/NumericSelect.snippets.tsx
  components/src/components/Range/Range.snippets.tsx
  components/src/components/Skeleton/Skeleton.snippets.tsx
  components/src/components/SkeletonGroup/SkeletonGroup.snippets.tsx
  components/src/components/Spinner/Spinner.snippets.tsx
  components/src/components/Stack/Stack.snippets.tsx
  components/src/components/Stat/Stat.snippets.tsx
  components/src/components/Tag/Tag.snippets.tsx
  components/src/components/Text/Text.snippets.tsx
  components/src/components/Textarea/Textarea.snippets.tsx
  components/src/components/ThemeProvider/ThemeProvider.snippets.tsx
  components/src/components/VisuallyHidden/VisuallyHidden.snippets.tsx
  components/src/components/icons/IconNFT/IconNFT.snippets.tsx
Due: yarn lint:fix

fix missing node polyfill for playroom
  docs/package.json
  playroom/package.json
  yarn.lock
Due: yarn lint:format

remove playroom references from configs
  .eslintignore
  .eslintrc
  .gitignore
  .prettierignore
  .yarn/patches/playroom.patch
  package.json
  tsconfig.json
  yarn.lock
Due: yarn lint:format

fix missing avatars
  docs/src/components/CodePreview/CodePreview.tsx
Due: yarn lint:fix

remove write snippets file functon from scripts
  scripts/generateComponent.js
  scripts/generateIcons.js
Due: yarn lint:fix

fix tests
  docs/package.json
  yarn.lock
Due: yarn lint:format

clean up tooling to use yarn publish rather than npm
  .github/workflows/publish.yml
  .node-version
  .yarn/plugins/@yarnpkg/plugin-version.cjs
  .yarnrc.yml
  components/package.json
Due: yarn lint:format

set node version in package json
  package.json
Due: yarn lint:format

use npm publish
  components/package.json
Due: yarn lint:format

support ens avatar without wagmi
  components/src/components/Avatar/Avatar.tsx
  components/src/components/AvatarGroup/AvatarGroup.tsx
Due: yarn lint:fix

update docs
  components/src/components/Avatar/Avatar.docs.mdx
Due: none

simplify
  components/src/components/Avatar/Avatar.tsx
Due: yarn lint:fix

update doc with example
  components/src/components/Avatar/Avatar.docs.mdx
Due: none

Wagmi-less ENS avatar support (#148)
  components/src/components/Avatar/Avatar.docs.mdx
  components/src/components/Avatar/Avatar.tsx
  components/src/components/AvatarGroup/AvatarGroup.tsx
Due: yarn lint:fix

update icons for profiles
  icons/Subscribers.svg
  icons/Twitter.svg
  icons/UserSolid.svg
Due: none

formatting
  icons/Subscribers.svg
  icons/Twitter.svg
  icons/UserSolid.svg
Due: none

Icon updates (#149)
  icons/Subscribers.svg
  icons/Twitter.svg
  icons/UserSolid.svg
Due: none

upgrade react
  components/package.json
  docs/package.json
  yarn.lock
Due: yarn lint:format

ts fixes
  .vscode/settings.json
  components/package.json
  components/tsconfig.json
  package.json
  tsconfig.json
  yarn.lock
Due: yarn lint:format

fix ts errors in test
  components/src/components/ThemeProvider/ThemeProvider.test.tsx
Due: yarn lint:fix

fix test
  components/src/components/MediaPicker/MediaPicker.test.tsx
Due: yarn lint:fix

React 18 (#150)
  .vscode/settings.json
  components/package.json
  components/src/components/MediaPicker/MediaPicker.test.tsx
  components/src/components/ThemeProvider/ThemeProvider.test.tsx
  components/tsconfig.json
  docs/package.json
  package.json
  tsconfig.json
  yarn.lock
Due: yarn lint:fix, yarn lint:format

add new icons
  icons/Dashboard.svg
  icons/Disconnect.svg
Due: none

update solid book icon
  icons/BookOpenSolid.svg
Due: none

icon updates (#151)
  icons/BookOpenSolid.svg
  icons/Dashboard.svg
  icons/Disconnect.svg
Due: none

export types from degen
  components/package.json
Due: yarn lint:format

export types from degen (#152)
  components/package.json
Due: yarn lint:format

export tokens and required types directly
  components/package.json
  components/src/components/index.ts
  components/src/index.ts
Due: yarn lint:fix, yarn lint:format

export tokens and required types directly (#153)
  components/package.json
  components/src/components/index.ts
  components/src/index.ts
Due: yarn lint:fix, yarn lint:format

add math icon
  icons/Math.svg
Due: none

add math icon (#154)
  icons/Math.svg
Due: none

add icons
  icons/Explore.svg
  icons/Inbox.svg
Due: none

add icons (#155)
  icons/Explore.svg
  icons/Inbox.svg
Due: none

up vanillas
  components/package.json
  docs/package.json
  yarn.lock
Due: yarn lint:format

up vanillas (#156)
  components/package.json
  docs/package.json
  yarn.lock
Due: yarn lint:format

Add new primary variant to tags
  components/src/components/Tag/Tag.docs.mdx
  components/src/components/Tag/styles.css.ts
Due: yarn lint:fix

Add new primary variant to tags (#157)
  components/src/components/Tag/Tag.docs.mdx
  components/src/components/Tag/styles.css.ts
Due: yarn lint:fix

Path conditions:
  yarn lint:fix: any of: *.{js,ts,tsx}
  yarn lint:format: any of: *.{json,md,yml}
