Repository mirror-xyz/degen: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint:fix, yarn lint:format

.lintstagedrc:

{
  "*.{js,ts,tsx}": ["yarn lint:fix"],
  "*.{json,md,yml}": ["yarn lint:format"]
}

chore: start more components (#3)
  .github/workflows/main.yml
  .lintstagedrc
  .prettierignore
  .size-limit.json
  package.json
  src/components/Button/Button.tsx
  src/components/Button/styles.css.ts
  src/components/Button/utils.test.ts
  src/components/Button/utils.ts
  src/components/ProgressBar/ProgressBar.snippets.tsx
  src/components/ProgressBar/ProgressBar.test.tsx
  src/components/ProgressBar/ProgressBar.tsx
  src/components/ProgressBar/index.ts
  src/components/ProgressBar/styles.css.ts
  src/components/Spinner/Spinner.tsx
  src/components/Spinner/styles.css.ts
  src/components/Stack/Stack.tsx
  src/components/Text/Text.tsx
  src/components/index.ts
  src/index.test.ts
  src/index.ts
  src/playroom/FrameComponent.tsx
  src/tokens/space.ts
  src/utils/index.ts
  src/utils/isOfType.test.ts
  src/utils/isOfType.ts
  tsconfig.json
  yarn.lock
Due: yarn lint:fix, yarn lint:format

fix: tests
  .eslintignore
  .gitignore
  .prettierignore
  README.md
  jest.config.ts
  package.json
  src/theme/atoms.test.ts
  tsconfig.json
  yarn.lock
Due: yarn lint:fix, yarn lint:format

chore: start docs site
  index.html
  jest.config.ts
  package.json
  pages/$.mdx
  pages/404$.tsx
  pages/_theme.tsx
  pages/guide$.mdx
  src/components/Box/Box.snippets.tsx
  src/components/Button/README.md
  src/components/Skeleton/Skeleton.snippets.tsx
  src/components/Skeleton/Skeleton.tsx
  src/components/Stack/Stack.snippets.tsx
  src/theme/sprinkles.css.ts
  src/tokens/space.ts
  tsconfig.base.json
  tsconfig.json
  vite.config.ts
  yarn.lock
Due: yarn lint:fix, yarn lint:format

chore: patch playroom
  .github/patches/playroom+0.27.4.patch
  jest.config.ts
  package.json
  tsconfig.base.json
  tsconfig.json
  yarn.lock
Due: yarn lint:fix, yarn lint:format

chore: build docs
  docs/$.mdx
  docs/404$.tsx
  docs/_theme.tsx
  docs/guide$.mdx
  package.json
  playroom.config.js
  vite-docs.config.ts
  vite.config.ts
  yarn.lock
Due: yarn lint:fix, yarn lint:format

feat: docs site
  README.md
  docs/_theme.tsx
  docs/guide$.mdx
  docs/theme/Layout.tsx
  docs/theme/components/AnchorLink.tsx
  docs/theme/components/CodeBlock.tsx
  docs/theme/components/Demo.tsx
  docs/theme/components/Mdx.tsx
  docs/theme/components/Navigation.tsx
  docs/theme/components/TsInfo.tsx
  docs/theme/components/index.ts
  docs/theme/context.ts
  docs/theme/createTheme.tsx
  docs/theme/index.ts
  icons/Code.svg
  index.html
  package.json
  src/components/Button/README.md
  src/components/Button/docs/demo1.tsx
  src/index.ts
  vite-docs.config.ts
  yarn.lock
Due: yarn lint:fix, yarn lint:format

feat: live code editor
  docs/$.mdx
  docs/_theme.tsx
  docs/components/AnchorLink.tsx
  docs/components/CodeBlock.tsx
  docs/components/MDXProvider.tsx
  docs/components/Nav.tsx
  docs/components/index.ts
  docs/theme/Layout.tsx
  docs/theme/components/Demo.tsx
  docs/theme/components/Navigation.tsx
  docs/theme/components/TsInfo.tsx
  docs/theme/components/index.ts
  docs/theme/context.ts
  docs/theme/createTheme.tsx
  docs/theme/index.ts
  index.html
  package.json
  src/components/Box/Box.docs.mdx
  src/components/Box/Box.test.tsx
  src/components/Button/Button.docs.mdx
  src/components/Button/Button.test.tsx
  src/components/Button/README.md
  src/components/Button/docs/demo1.tsx
  src/components/Text/Text.test.tsx
  src/components/icons/__snapshots__/icons.test.ts.snap
  test/index.tsx
  tsconfig.json
  vite-docs.config.ts
  yarn.lock
Due: yarn lint:fix, yarn lint:format

fix: ci
  .eslintignore
  .github/workflows/main.yml
  .gitignore
  .prettierignore
  .yarn/plugins/@yarnpkg/plugin-typescript.cjs
  .yarn/plugins/@yarnpkg/plugin-workspace-tools.cjs
  .yarnrc.yml
  components/package.json
  components/src/components/Box/Box.docs.mdx
  components/src/components/Button/Button.docs.mdx
  components/src/components/icons/__snapshots__/icons.test.ts.snap
  components/src/components/icons/icons.test.ts
  components/tsconfig.json
  docs/next.config.js
  docs/package.json
  package.json
  playroom/package.json
  playroom/playroom.config.js
Due: yarn lint:fix, yarn lint:format

feat: split out code preview
  .eslintignore
  .github/workflows/main.yml
  .gitignore
  .prettierignore
  components/package.json
  components/src/components/Button/Button.docs.mdx
  components/src/components/Button/styles.css.ts
  components/src/components/Spinner/styles.css.ts
  components/src/components/Text/styles.css.ts
  components/test/index.tsx
  docs/components/CodeBlock.tsx
  docs/components/CodePreview.tsx
  docs/package.json
  docs/pages/_app.tsx
  docs/pages/_document.tsx
  docs/styles/globals.css.ts
  package.json
  playroom/package.json
  playroom/playroom.config.js
  yarn.lock
Due: yarn lint:fix, yarn lint:format

chore: checkpoint global theme
  components/package.json
  components/scripts/generateIcons.js
  components/src/components/ThemeProvider/ThemeProvider.tsx
  components/src/theme/index.ts
  components/src/theme/types.ts
  components/src/theme/utils.ts
  components/src/theme/vars.css.ts
  docs/components/CodePreview.tsx
  docs/package.json
  package.json
  playroom/src/FrameComponent.tsx
  yarn.lock
Due: yarn lint:fix, yarn lint:format

feat: base vars to root
  components/src/components/ThemeProvider/ThemeProvider.tsx
  components/src/theme/utils.test.ts
  components/src/theme/vars.css.ts
  docs/components/CodePreview.tsx
  playroom/src/FrameComponent.tsx
  yarn.lock
Due: yarn lint:fix

ci: remove cache hit
  .github/workflows/main.yml
  .github/workflows/size.yml
  components/package.json
  docs/package.json
  package.json
  playroom/package.json
  yarn.lock
Due: yarn lint:format

tmm/global theme (#6)
  .github/workflows/main.yml
  .github/workflows/size.yml
  components/package.json
  components/scripts/generateIcons.js
  components/src/components/ThemeProvider/ThemeProvider.tsx
  components/src/theme/index.ts
  components/src/theme/types.ts
  components/src/theme/utils.test.ts
  components/src/theme/utils.ts
  components/src/theme/vars.css.ts
  docs/package.json
  package.json
  playroom/package.json
  yarn.lock
Due: yarn lint:fix, yarn lint:format

feat: docs layout
  .github/workflows/main.yml
  docs/components/CodeBlock.tsx
  docs/components/CodePreview.tsx
  docs/components/Link.tsx
  docs/components/index.ts
  docs/layouts/docs.tsx
  docs/layouts/site.tsx
  docs/pages/_app.tsx
  docs/pages/_document.tsx
  docs/pages/components/[slug].tsx
  docs/pages/index.mdx
  docs/public/favicon.ico
  docs/public/favicons/apple-touch-icon.png
  docs/public/favicons/favicon-16x16.png
  docs/public/favicons/favicon-32x32.png
  docs/public/robots.txt
  docs/public/vercel.svg
  docs/types/next.d.ts
Due: yarn lint:fix, yarn lint:format

chore: mdx eslint config
  .eslintrc
  .vim/coc-settings.json
  .vscode/extensions.json
  components/src/components/Box/Box.docs.mdx
  components/src/components/Button/Button.docs.mdx
  docs/next.config.js
  package.json
  yarn.lock
Due: yarn lint:fix, yarn lint:format

feat: parse types
  components/src/components/Box/Box.docs.mdx
  docs/package.json
  docs/pages/components/[slug].tsx
  docs/utils/index.ts
  yarn.lock
Due: yarn lint:fix, yarn lint:format

feat: code styles
  components/icons/Check.svg
  components/icons/Duplicate.svg
  components/scripts/generateIcons.js
  components/src/components/Box/Box.snippets.tsx
  components/src/components/Button/Button.docs.mdx
  components/src/components/Button/Button.tsx
  components/src/components/Button/styles.css.ts
  components/src/components/Spinner/styles.css.ts
  components/src/components/Stack/Stack.tsx
  components/src/components/Text/Text.docs.mdx
  components/src/components/Text/Text.tsx
  components/src/components/Text/styles.css.ts
  components/src/components/VisuallyHidden/VisuallyHidden.tsx
  components/src/theme/reset.css.ts
  components/src/theme/sprinkles.css.ts
  components/src/tokens/border.ts
  components/src/tokens/space.ts
  components/src/tokens/typography.ts
  docs/components/CodeBlock.tsx
  docs/components/CodePreview.tsx
  docs/components/CodePreview/CodePreview.tsx
  docs/components/CodePreview/index.ts
  docs/components/CodePreview/styles.css.ts
  docs/components/CopyButton.tsx
  docs/components/Link.tsx
  docs/components/MDX.tsx
  docs/components/ThemeSwitcher.tsx
  docs/components/index.ts
  docs/layouts/docs.tsx
  docs/package.json
  docs/pages/_app.tsx
  docs/pages/_document.tsx
  docs/pages/components/[slug].tsx
  docs/pages/index.mdx
  docs/public/fonts/mono/iAWriterMonoS-Bold.woff2
  docs/public/fonts/mono/iAWriterMonoS-BoldItalic.woff2
  docs/public/fonts/mono/iAWriterMonoS-Italic.woff2
  docs/public/fonts/mono/iAWriterMonoS-Regular.woff2
  docs/styles/globals.css.ts
  yarn.lock
Due: yarn lint:fix, yarn lint:format

feat: add more docs
  components/src/components/Box/Box.docs.mdx
  components/src/components/Button/Button.docs.mdx
  components/src/components/Skeleton/Skeleton.docs.mdx
  components/src/components/Skeleton/SkeletonGroup.docs.mdx
  components/src/components/Spinner/Spinner.docs.mdx
  components/src/components/Stack/Stack.docs.mdx
  components/src/components/Text/Text.docs.mdx
  components/src/components/Text/Text.tsx
  components/src/components/ThemeProvider/ThemeProvider.docs.mdx
  components/src/components/VisuallyHidden/VisuallyHidden.docs.mdx
  components/src/tokens/typography.ts
  docs/.env
  docs/components/CodeBlock.tsx
  docs/components/CodePreview/CodePreview.tsx
  docs/components/CopyButton.tsx
  docs/components/Link.tsx
  docs/components/MDX/MDX.tsx
  docs/components/MDX/index.ts
  docs/components/MDX/styles.css.ts
  docs/components/Nav.tsx
  docs/components/ThemeSwitcher.tsx
  docs/components/index.ts
  docs/layouts/docs.tsx
  docs/layouts/site.tsx
  docs/next.config.js
  docs/package.json
  docs/pages/_app.tsx
  docs/pages/components/[slug].tsx
  docs/pages/index.mdx
  docs/utils/cookies.ts
  docs/utils/fs.ts
  docs/utils/playroom.ts
  playroom/src/PlayroomState.tsx
  yarn.lock
Due: yarn lint:fix, yarn lint:format

refactor: move icons
  components/scripts/generateIcons.js
  icons/BookOpen.svg
  icons/Check.svg
  icons/ChevronDown.svg
  icons/ChevronRight.svg
  icons/Code.svg
  icons/Duplicate.svg
  icons/LockClosed.svg
  icons/PlusSmall.svg
Due: yarn lint:fix

chore: checkpoint src
  .eslintrc
  components/src/index.ts
  docs/src/components/CodeBlock.tsx
  docs/src/components/CodePreview/CodePreview.tsx
  docs/src/components/CodePreview/index.ts
  docs/src/components/CodePreview/styles.css.ts
  docs/src/components/CopyButton.tsx
  docs/src/components/Link.tsx
  docs/src/components/MDX/MDX.tsx
  docs/src/components/MDX/index.ts
  docs/src/components/MDX/styles.css.ts
  docs/src/components/Nav.tsx
  docs/src/components/ThemeSwitcher.tsx
  docs/src/components/index.ts
  docs/src/layouts/docs.tsx
  docs/src/layouts/site.tsx
  docs/src/pages/_app.tsx
  docs/src/pages/_document.tsx
  docs/src/pages/components/[slug].tsx
  docs/src/pages/index.mdx
  docs/src/styles/globals.css.ts
  docs/src/types/next.d.ts
  docs/src/utils/cookies.ts
  docs/src/utils/fs.ts
  docs/src/utils/playroom.ts
  docs/tsconfig.json
  playroom/playroom.config.js
  playroom/src/FrameComponent.tsx
  playroom/src/styles.css.ts
Due: yarn lint:fix, yarn lint:format

feat: layout
  components/src/components/Button/Button.docs.mdx
  components/src/components/Heading/Heading.tsx
  docs/components/CodeBlock.tsx
  docs/components/IconSearch.tsx
  docs/components/MDX/MDX.tsx
  docs/components/MDX/styles.css.ts
  docs/components/Nav.tsx
  docs/components/Nav/Nav.tsx
  docs/components/Nav/index.ts
  docs/components/Nav/styles.css.ts
  docs/components/ThemeSwitcher.tsx
  docs/layouts/docs.tsx
  docs/next.config.js
  docs/package.json
  docs/public/logo.svg
  icons/Link.svg
  yarn.lock
Due: yarn lint:fix, yarn lint:format

fix: rehydration theme
  components/src/components/Box/Box.docs.mdx
  components/src/components/Button/Button.docs.mdx
  components/src/components/Button/styles.css.ts
  components/src/components/Heading/Heading.docs.mdx
  components/src/components/Skeleton/Skeleton.docs.mdx
  components/src/components/SkeletonGroup/SkeletonGroup.docs.mdx
  components/src/components/Spinner/Spinner.docs.mdx
  components/src/components/Stack/Stack.docs.mdx
  components/src/components/Text/Text.docs.mdx
  components/src/components/VisuallyHidden/VisuallyHidden.docs.mdx
  components/src/index.ts
  docs/components/CodeBlock.tsx
  docs/components/CodePreview/CodePreview.tsx
  docs/components/IconSearch.tsx
  docs/components/Nav/Nav.tsx
  docs/components/Nav/index.ts
  docs/components/SkipNav.tsx
  docs/components/ThemeSwitcher.tsx
  docs/components/index.ts
  docs/layouts/docs.tsx
  docs/package.json
  docs/pages/_app.tsx
  docs/utils/isMounted.ts
  yarn.lock
Due: yarn lint:fix, yarn lint:format

fix: rehydration theme (#8)
  components/src/components/Box/Box.docs.mdx
  components/src/components/Button/Button.docs.mdx
  components/src/components/Button/styles.css.ts
  components/src/components/Heading/Heading.docs.mdx
  components/src/components/Skeleton/Skeleton.docs.mdx
  components/src/components/SkeletonGroup/SkeletonGroup.docs.mdx
  components/src/components/Spinner/Spinner.docs.mdx
  components/src/components/Stack/Stack.docs.mdx
  components/src/components/Text/Text.docs.mdx
  components/src/components/VisuallyHidden/VisuallyHidden.docs.mdx
  components/src/index.ts
  docs/components/CodeBlock.tsx
  docs/components/CodePreview/CodePreview.tsx
  docs/components/IconSearch.tsx
  docs/components/Nav/Nav.tsx
  docs/components/Nav/index.ts
  docs/components/SkipNav.tsx
  docs/components/ThemeSwitcher.tsx
  docs/components/index.ts
  docs/layouts/docs.tsx
  docs/package.json
  docs/pages/_app.tsx
  docs/utils/isMounted.ts
  yarn.lock
Due: yarn lint:fix, yarn lint:format

fix: theme load
  docs/pages/_app.tsx
  docs/utils/cookies.ts
Due: yarn lint:fix

feat: mobile menu
  components/scripts/generateIcons.js
  components/src/components/Button/Button.tsx
  components/src/theme/reset.css.ts
  docs/components/Nav/Nav.tsx
  docs/styles/globals.css.ts
Due: yarn lint:fix

refactor: scales
  components/src/components/Box/Box.docs.mdx
  components/src/components/Button/Button.docs.mdx
  components/src/components/Button/Button.tsx
  components/src/components/Button/styles.css.ts
  components/src/components/Button/utils.test.ts
  components/src/components/Button/utils.ts
  components/src/components/Heading/Heading.docs.mdx
  components/src/components/Skeleton/Skeleton.docs.mdx
  components/src/components/Skeleton/Skeleton.tsx
  components/src/components/SkeletonGroup/SkeletonGroup.docs.mdx
  components/src/components/Spinner/Spinner.docs.mdx
  components/src/components/Spinner/Spinner.tsx
  components/src/components/Spinner/styles.css.ts
  components/src/components/Stack/Stack.docs.mdx
  components/src/components/Text/Text.docs.mdx
  components/src/components/ThemeProvider/ThemeProvider.docs.mdx
  components/src/components/VisuallyHidden/VisuallyHidden.docs.mdx
  components/src/tokens/border.ts
  components/src/tokens/typography.ts
  docs/components/CodeBlock.tsx
  docs/components/CodePreview/CodePreview.tsx
  docs/components/CopyButton.tsx
  docs/components/IconSearch.tsx
  docs/components/MDX/MDX.tsx
  docs/components/Nav/Nav.tsx
  docs/components/ThemeSwitcher.tsx
  docs/layouts/docs.tsx
  docs/pages/_app.tsx
  docs/pages/components/[slug].tsx
  docs/pages/foundations/iconography.mdx
  docs/pages/index.mdx
Due: yarn lint:fix

feat: add colors
  README.md
  components/src/components/Heading/Heading.tsx
  docs/components/ColorPalette.tsx
  docs/components/CopyButton.tsx
  docs/components/Nav/Nav.tsx
  docs/components/index.ts
  docs/layouts/docs.tsx
  docs/pages/foundations/colors.mdx
  docs/pages/index.mdx
Due: yarn lint:fix, yarn lint:format

feat: update color palette
  components/src/components/Skeleton/Skeleton.docs.mdx
  components/src/components/SkeletonGroup/SkeletonGroup.docs.mdx
  docs/components/CodePreview/CodePreview.tsx
  docs/components/ColorPalette.tsx
  docs/pages/foundations/colors.mdx
  docs/pages/index.mdx
Due: yarn lint:fix

docs: update
  components/scripts/generateIcons.js
  components/src/components/Button/Button.docs.mdx
  components/src/components/Skeleton/Skeleton.docs.mdx
  components/src/components/ThemeProvider/ThemeProvider.tsx
  components/src/index.ts
  components/src/theme/sprinkles.css.ts
  components/src/theme/types.ts
  components/src/tokens/index.ts
  components/src/tokens/shadows.ts
  docs/components/ColorPalette.tsx
  docs/components/CopyButton.tsx
  docs/components/MDX/MDX.tsx
  docs/components/SearchIcons.tsx
  docs/components/index.ts
  docs/pages/_app.tsx
  docs/pages/components/[slug].tsx
  docs/pages/foundations/iconography.mdx
  docs/pages/index.mdx
  docs/styles/globals.css.ts
  docs/utils/getComponent.ts
  docs/utils/getStaticTypes.ts
  icons/Link.svg
Due: yarn lint:fix

docs: deploy playroom
  .eslintignore
  .gitignore
  .prettierignore
  docs/next.config.js
  docs/package.json
  playroom/playroom.config.js
Due: yarn lint:fix, yarn lint:format

refactor: playroom url
  docs/.env
  docs/utils/playroom.ts
Due: yarn lint:fix

chore: patch playroom
  .yarn/patches/playroom.patch
  docs/next.config.js
  playroom/package.json
  playroom/playroom.config.js
  yarn.lock
Due: yarn lint:fix, yarn lint:format

fix: smooth scroll
  components/package.json
  components/src/components/Button/Button.docs.mdx
  components/src/components/Skeleton/Skeleton.docs.mdx
  components/src/components/SkeletonGroup/SkeletonGroup.docs.mdx
  docs/components/MDX/MDX.tsx
  docs/pages/_app.tsx
Due: yarn lint:fix, yarn lint:format

refactor: rename theme dir to css
  components/scripts/generateIcons.js
  components/src/components/Box/Box.tsx
  components/src/components/Button/Button.tsx
  components/src/components/Button/styles.css.ts
  components/src/components/Button/utils.ts
  components/src/components/Heading/Heading.docs.mdx
  components/src/components/Heading/Heading.tsx
  components/src/components/Heading/styles.css.ts
  components/src/components/Skeleton/Skeleton.tsx
  components/src/components/Spinner/Spinner.tsx
  components/src/components/Spinner/styles.css.ts
  components/src/components/Stack/Stack.tsx
  components/src/components/Stack/utils.ts
  components/src/components/Text/Text.tsx
  components/src/components/Text/styles.css.ts
  components/src/components/ThemeProvider/ThemeProvider.tsx
  components/src/css/atoms.ts
  components/src/css/index.ts
  components/src/css/reset.css.ts
  components/src/css/sprinkles.css.ts
  components/src/css/types.ts
  components/src/css/utils.test.ts
  components/src/css/utils.ts
  components/src/css/vars.css.ts
  components/src/tokens/color.ts
  components/vite.config.ts
  docs/components/CodeBlock.tsx
  docs/components/CodePreview/styles.css.ts
  docs/components/ColorPalette.tsx
  docs/components/MDX/styles.css.ts
  docs/components/SearchIcons.tsx
  docs/components/SkipNav.tsx
  docs/pages/components/[slug].tsx
  docs/pages/foundations/icons.mdx
  docs/styles/globals.css.ts
  playroom/src/styles.css.ts
Due: yarn lint:fix

feat: export atoms and vars
  components/src/index.test.ts
  components/src/index.ts
Due: yarn lint:fix
