Repository mirror-xyz/degen: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint:fix, yarn lint:format

add ens avatar support to Avatar and AvatarGroup
  components/package.json
  components/src/components/Avatar/Avatar.docs.mdx
  components/src/components/Avatar/Avatar.tsx
  components/src/components/AvatarGroup/AvatarGroup.docs.mdx
  components/src/components/AvatarGroup/AvatarGroup.tsx
  yarn.lock
Due: yarn lint:fix, yarn lint:format

upgrade ts
  package.json
  yarn.lock
Due: yarn lint:format

fix tests
  components/src/components/Avatar/Avatar.test.tsx
  components/src/components/AvatarGroup/AvatarGroup.test.tsx
Due: yarn lint:fix

remove avatar tests
  components/src/components/Avatar/Avatar.test.tsx
  components/src/components/AvatarGroup/AvatarGroup.test.tsx
Due: yarn lint:fix

only attempt to get ens avatar when address is present
  components/src/components/Avatar/Avatar.tsx
Due: yarn lint:fix

Add ens avatar support to Avatar and AvatarGroup (#138)
  components/package.json
  components/src/components/Avatar/Avatar.docs.mdx
  components/src/components/Avatar/Avatar.test.tsx
  components/src/components/Avatar/Avatar.tsx
  components/src/components/AvatarGroup/AvatarGroup.docs.mdx
  components/src/components/AvatarGroup/AvatarGroup.test.tsx
  components/src/components/AvatarGroup/AvatarGroup.tsx
  package.json
  yarn.lock
Due: yarn lint:fix, yarn lint:format

switch to yarn command
  .github/workflows/publish.yml
Due: yarn lint:format

dont lint during publish workflow
  .github/workflows/publish.yml
Due: yarn lint:format

dont lint during publish workflow (#139)
  .github/workflows/publish.yml
Due: yarn lint:format

clean up tooling to use yarn publish rather than npm
  .github/workflows/publish.yml
  .node-version
  .yarn/plugins/@yarnpkg/plugin-version.cjs
  .yarnrc.yml
  components/package.json
Due: yarn lint:format

go back to linting during publishing
  .github/workflows/publish.yml
Due: yarn lint:format

set node version in package json
  package.json
Due: yarn lint:format

clean up tooling to use yarn publish rather than npm, set node_version to 18 (#140)
  .github/workflows/publish.yml
  .node-version
  .yarn/plugins/@yarnpkg/plugin-version.cjs
  .yarnrc.yml
  components/package.json
  package.json
Due: yarn lint:format

go back to using npm publish
  components/package.json
Due: yarn lint:format

go back to using npm publish (#141)
  components/package.json
Due: yarn lint:format

remove engine from main package json
  package.json
Due: yarn lint:format

remove engine from main package json (#142)
  package.json
Due: yarn lint:format

fix package json and yarn lock
  components/package.json
  package.json
  yarn.lock
Due: yarn lint:format

make wagmi peer dep
  components/package.json
  package.json
  yarn.lock
Due: yarn lint:format

bump to ts 5
  package.json
  yarn.lock
Due: yarn lint:format

convert string type to int
  components/src/components/AvatarGroup/AvatarGroup.tsx
Due: yarn lint:fix

make size only 5 or 6
  components/src/components/AvatarGroup/AvatarGroup.tsx
Due: yarn lint:fix

Ens avatar support (#144)
  components/package.json
  components/src/components/Avatar/Avatar.docs.mdx
  components/src/components/Avatar/Avatar.test.tsx
  components/src/components/Avatar/Avatar.tsx
  components/src/components/AvatarGroup/AvatarGroup.docs.mdx
  components/src/components/AvatarGroup/AvatarGroup.test.tsx
  components/src/components/AvatarGroup/AvatarGroup.tsx
  package.json
  yarn.lock
Due: yarn lint:fix, yarn lint:format

Revert "Ens avatar support (#144)"
  components/package.json
  components/src/components/Avatar/Avatar.docs.mdx
  components/src/components/Avatar/Avatar.test.tsx
  components/src/components/Avatar/Avatar.tsx
  components/src/components/AvatarGroup/AvatarGroup.docs.mdx
  components/src/components/AvatarGroup/AvatarGroup.test.tsx
  components/src/components/AvatarGroup/AvatarGroup.tsx
  package.json
  yarn.lock
Due: yarn lint:fix, yarn lint:format

Revert "Ens avatar support (#144)" (#145)
  components/package.json
  components/src/components/Avatar/Avatar.docs.mdx
  components/src/components/Avatar/Avatar.test.tsx
  components/src/components/Avatar/Avatar.tsx
  components/src/components/AvatarGroup/AvatarGroup.docs.mdx
  components/src/components/AvatarGroup/AvatarGroup.test.tsx
  components/src/components/AvatarGroup/AvatarGroup.tsx
  package.json
  yarn.lock
Due: yarn lint:fix, yarn lint:format

bump ts
  components/src/components/AvatarGroup/AvatarGroup.tsx
  package.json
  yarn.lock
Due: yarn lint:fix, yarn lint:format

bump ts (#146)
  components/src/components/AvatarGroup/AvatarGroup.tsx
  package.json
  yarn.lock
Due: yarn lint:fix, yarn lint:format

wip
  .yarn/releases/yarn-3.6.0.cjs
  .yarn/releases/yarn-berry.cjs
  .yarnrc.yml
  package.json
Due: yarn lint:format

Update PlusSmall.svg
  icons/PlusSmall.svg
Due: none

wip
  docs/package.json
  playroom/package.json
  yarn.lock
Due: yarn lint:format

docs and playroom package build with node 18
  .prettierignore
  components/src/components/Stack/Stack.tsx
  components/src/css/sprinkles.css.ts
  docs/next-env.d.ts
  docs/package.json
  docs/src/components/CodeBlock.tsx
  docs/src/components/CodePreview/CodePreview.tsx
  docs/src/components/MDX.tsx
  docs/src/components/Nav.tsx
  docs/src/layouts/docs.tsx
  playroom/package.json
  yarn.lock
Due: yarn lint:fix, yarn lint:format

remove playroom package
  playroom/package.json
  playroom/playroom.config.js
  playroom/src/FrameComponent.tsx
  playroom/src/PlayroomState.tsx
  playroom/src/components.ts
  playroom/src/snippets.ts
  playroom/src/styles.css.ts
  playroom/src/themes.ts
  playroom/src/types.ts
  playroom/src/useScope.ts
  playroom/tsconfig.json
Due: yarn lint:fix, yarn lint:format

remove playroom snippets
  components/src/components/Avatar/Avatar.snippets.tsx
  components/src/components/AvatarGroup/AvatarGroup.snippets.tsx
  components/src/components/Box/Box.snippets.tsx
  components/src/components/Button/Button.snippets.tsx
  components/src/components/ButtonCard/ButtonCard.snippets.tsx
  components/src/components/Card/Card.snippets.tsx
  components/src/components/Field/Field.snippets.tsx
  components/src/components/FieldSet/FieldSet.snippets.tsx
  components/src/components/FileInput/FileInput.snippets.tsx
  components/src/components/Heading/Heading.snippets.tsx
  components/src/components/Input/Input.snippets.tsx
  components/src/components/MediaPicker/MediaPicker.snippets.tsx
  components/src/components/NumericSelect/NumericSelect.snippets.tsx
  components/src/components/Range/Range.snippets.tsx
  components/src/components/Skeleton/Skeleton.snippets.tsx
  components/src/components/SkeletonGroup/SkeletonGroup.snippets.tsx
  components/src/components/Spinner/Spinner.snippets.tsx
  components/src/components/Stack/Stack.snippets.tsx
  components/src/components/Stat/Stat.snippets.tsx
  components/src/components/Tag/Tag.snippets.tsx
  components/src/components/Text/Text.snippets.tsx
  components/src/components/Textarea/Textarea.snippets.tsx
  components/src/components/ThemeProvider/ThemeProvider.snippets.tsx
  components/src/components/VisuallyHidden/VisuallyHidden.snippets.tsx
  components/src/components/icons/IconNFT/IconNFT.snippets.tsx
Due: yarn lint:fix

remove playroom references in docs package
  docs/package.json
  docs/src/components/CodeBlock.tsx
  docs/src/components/CodePreview/CodePreview.tsx
  docs/src/components/Nav.tsx
  docs/src/guides/development.mdx
  docs/src/guides/playroom.mdx
  docs/src/utils/playroom.ts
Due: yarn lint:fix, yarn lint:format

Path conditions:
  yarn lint:fix: any of: *.{js,ts,tsx}
  yarn lint:format: any of: *.{json,md,yml}
