Repository mirror-xyz/degen: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint:fix, yarn lint:format

.lintstagedrc:

{
  "*.{js,ts,tsx}": ["yarn lint:fix"],
  "*.{json,md,yml}": ["yarn lint:format"]
}

Revert "update yarn version"
  .yarn/releases/yarn-3.5.1.cjs
  .yarn/releases/yarn-berry.cjs
  .yarnrc.yml
  package.json
  yarn.lock
Due: yarn lint:format

upgrade yarn and change output hash function
  .yarn/releases/yarn-3.5.1.cjs
  .yarn/releases/yarn-berry.cjs
  .yarnrc.yml
  package.json
  playroom/playroom.config.js
Due: yarn lint:fix, yarn lint:format

updat yarn.lock
  yarn.lock
Due: none

Revert "upgrade yarn and change output hash function"
  .yarn/releases/yarn-3.5.1.cjs
  .yarn/releases/yarn-berry.cjs
  .yarnrc.yml
  package.json
  playroom/playroom.config.js
Due: yarn lint:fix, yarn lint:format

update lockfile
  yarn.lock
Due: none

specify yarn version in package.json
  package.json
Due: yarn lint:format

MediaPicker changes
  components/src/components/MediaPicker/MediaPicker.docs.mdx
  components/src/components/MediaPicker/MediaPicker.tsx
  components/src/components/MediaPicker/styles.css.ts
Due: yarn lint:fix

custom height
  components/src/components/FileInput/FileInput.tsx
  components/src/components/MediaPicker/MediaPicker.docs.mdx
  components/src/components/MediaPicker/MediaPicker.tsx
  components/src/components/MediaPicker/styles.css.ts
Due: yarn lint:fix

MediaPicker updates (#131)
  components/src/components/FileInput/FileInput.tsx
  components/src/components/MediaPicker/MediaPicker.docs.mdx
  components/src/components/MediaPicker/MediaPicker.tsx
  components/src/components/MediaPicker/styles.css.ts
Due: yarn lint:fix

upgrade yarn, fix lint imports, add webpack hash function
  .yarn/releases/yarn-3.5.1.cjs
  .yarn/releases/yarn-berry.cjs
  .yarnrc.yml
  package.json
  playroom/playroom.config.js
  yarn.lock
Due: yarn lint:fix, yarn lint:format

lint fixes
  components/src/components/Avatar/Avatar.snippets.tsx
  components/src/components/AvatarGroup/AvatarGroup.snippets.tsx
  components/src/components/Button/Button.snippets.tsx
  components/src/components/ButtonCard/ButtonCard.snippets.tsx
  components/src/components/Card/Card.snippets.tsx
  components/src/components/Field/Field.snippets.tsx
  components/src/components/FieldSet/FieldSet.snippets.tsx
  components/src/components/FileInput/FileInput.snippets.tsx
  components/src/components/Heading/Heading.snippets.tsx
  components/src/components/Input/Input.snippets.tsx
  components/src/components/MediaPicker/MediaPicker.snippets.tsx
  components/src/components/NumericSelect/NumericSelect.snippets.tsx
  components/src/components/Range/Range.snippets.tsx
  components/src/components/Skeleton/Skeleton.snippets.tsx
  components/src/components/SkeletonGroup/SkeletonGroup.snippets.tsx
  components/src/components/Spinner/Spinner.snippets.tsx
  components/src/components/Stack/Stack.snippets.tsx
  components/src/components/Stat/Stat.snippets.tsx
  components/src/components/Tag/Tag.snippets.tsx
  components/src/components/Text/Text.snippets.tsx
  components/src/components/Textarea/Textarea.snippets.tsx
  components/src/components/ThemeProvider/ThemeProvider.snippets.tsx
  components/src/components/VisuallyHidden/VisuallyHidden.snippets.tsx
  components/src/components/icons/IconNFT/IconNFT.snippets.tsx
  docs/src/components/CodeBlock.tsx
  docs/src/components/CodePreview/CodePreview.tsx
  docs/src/components/MDX.tsx
  docs/src/components/Nav.tsx
  docs/src/layouts/docs.tsx
  yarn.lock
Due: yarn lint:fix

fix testing
  package.json
  yarn.lock
Due: yarn lint:format

add updated webpack
  package.json
  playroom/playroom.config.js
  yarn.lock
Due: yarn lint:fix, yarn lint:format

add min prop to numeric select
  components/src/components/NumericSelect/NumericSelect.tsx
Due: yarn lint:fix

add min prop to numeric select (#132)
  components/src/components/NumericSelect/NumericSelect.tsx
Due: yarn lint:fix

fix extrasmall square and circle shapes
  components/src/components/Button/Button.docs.mdx
  components/src/components/Button/styles.css.ts
Due: yarn lint:fix

simplify button css
  components/src/components/Button/styles.css.ts
Due: yarn lint:fix

Fix extrasmall button shapes (#133)
  components/src/components/Button/Button.docs.mdx
  components/src/components/Button/styles.css.ts
Due: yarn lint:fix

ci job node version bump
  .github/workflows/main.yml
  .github/workflows/publish.yml
Due: yarn lint:format

lint fixes
  components/src/components/Avatar/Avatar.snippets.tsx
  components/src/components/AvatarGroup/AvatarGroup.snippets.tsx
  components/src/components/Button/Button.snippets.tsx
  components/src/components/ButtonCard/ButtonCard.snippets.tsx
  components/src/components/Card/Card.snippets.tsx
  components/src/components/Field/Field.snippets.tsx
  components/src/components/FieldSet/FieldSet.snippets.tsx
  components/src/components/FileInput/FileInput.snippets.tsx
  components/src/components/Heading/Heading.snippets.tsx
  components/src/components/Input/Input.snippets.tsx
  components/src/components/MediaPicker/MediaPicker.snippets.tsx
  components/src/components/NumericSelect/NumericSelect.snippets.tsx
  components/src/components/Range/Range.snippets.tsx
  components/src/components/Skeleton/Skeleton.snippets.tsx
  components/src/components/SkeletonGroup/SkeletonGroup.snippets.tsx
  components/src/components/Spinner/Spinner.snippets.tsx
  components/src/components/Stack/Stack.snippets.tsx
  components/src/components/Stat/Stat.snippets.tsx
  components/src/components/Tag/Tag.snippets.tsx
  components/src/components/Text/Text.snippets.tsx
  components/src/components/Textarea/Textarea.snippets.tsx
  components/src/components/ThemeProvider/ThemeProvider.snippets.tsx
  components/src/components/VisuallyHidden/VisuallyHidden.snippets.tsx
  components/src/components/icons/IconNFT/IconNFT.snippets.tsx
Due: yarn lint:fix

wip
  .yarn/releases/yarn-3.6.0.cjs
  .yarn/releases/yarn-berry.cjs
  .yarnrc.yml
  package.json
Due: yarn lint:format

wip
  docs/package.json
  playroom/package.json
  yarn.lock
Due: yarn lint:format

docs and playroom package build with node 18
  .prettierignore
  components/src/components/Stack/Stack.tsx
  components/src/css/sprinkles.css.ts
  docs/next-env.d.ts
  docs/package.json
  docs/src/components/CodeBlock.tsx
  docs/src/components/CodePreview/CodePreview.tsx
  docs/src/components/MDX.tsx
  docs/src/components/Nav.tsx
  docs/src/layouts/docs.tsx
  playroom/package.json
  yarn.lock
Due: yarn lint:fix, yarn lint:format

Update PlusSmall.svg
  icons/PlusSmall.svg
Due: none

fix missing node polyfill for playroom
  docs/package.json
  playroom/package.json
  yarn.lock
Due: yarn lint:format

remove playroom snippets
  components/src/components/Avatar/Avatar.snippets.tsx
  components/src/components/AvatarGroup/AvatarGroup.snippets.tsx
  components/src/components/Box/Box.snippets.tsx
  components/src/components/Button/Button.snippets.tsx
  components/src/components/ButtonCard/ButtonCard.snippets.tsx
  components/src/components/Card/Card.snippets.tsx
  components/src/components/Field/Field.snippets.tsx
  components/src/components/FieldSet/FieldSet.snippets.tsx
  components/src/components/FileInput/FileInput.snippets.tsx
  components/src/components/Heading/Heading.snippets.tsx
  components/src/components/Input/Input.snippets.tsx
  components/src/components/MediaPicker/MediaPicker.snippets.tsx
  components/src/components/NumericSelect/NumericSelect.snippets.tsx
  components/src/components/Range/Range.snippets.tsx
  components/src/components/Skeleton/Skeleton.snippets.tsx
  components/src/components/SkeletonGroup/SkeletonGroup.snippets.tsx
  components/src/components/Spinner/Spinner.snippets.tsx
  components/src/components/Stack/Stack.snippets.tsx
  components/src/components/Stat/Stat.snippets.tsx
  components/src/components/Tag/Tag.snippets.tsx
  components/src/components/Text/Text.snippets.tsx
  components/src/components/Textarea/Textarea.snippets.tsx
  components/src/components/ThemeProvider/ThemeProvider.snippets.tsx
  components/src/components/VisuallyHidden/VisuallyHidden.snippets.tsx
  components/src/components/icons/IconNFT/IconNFT.snippets.tsx
Due: yarn lint:fix

remove playroom package
  playroom/package.json
  playroom/playroom.config.js
  playroom/src/FrameComponent.tsx
  playroom/src/PlayroomState.tsx
  playroom/src/components.ts
  playroom/src/snippets.ts
  playroom/src/styles.css.ts
  playroom/src/themes.ts
  playroom/src/types.ts
  playroom/src/useScope.ts
  playroom/tsconfig.json
Due: yarn lint:fix, yarn lint:format

remove playroom references in docs package
  docs/package.json
  docs/src/components/CodeBlock.tsx
  docs/src/components/CodePreview/CodePreview.tsx
  docs/src/components/Nav.tsx
  docs/src/guides/development.mdx
  docs/src/guides/playroom.mdx
  docs/src/utils/playroom.ts
Due: yarn lint:fix, yarn lint:format

remove playroom references from configs
  .eslintignore
  .eslintrc
  .gitignore
  .prettierignore
  .yarn/patches/playroom.patch
  package.json
  tsconfig.json
  yarn.lock
Due: yarn lint:format

fix missing avatars
  docs/src/components/CodePreview/CodePreview.tsx
Due: yarn lint:fix

remove write snippets file functon from scripts
  scripts/generateComponent.js
  scripts/generateIcons.js
Due: yarn lint:fix

fix tests
  docs/package.json
  yarn.lock
Due: yarn lint:format

node 18
  .node-version
  .tool-versions
  docs/next.config.js
Due: yarn lint:fix

upgrade everything
  components/package.json
  docs/package.json
  package.json
  yarn.lock
Due: yarn lint:format

snap
  scripts/generateIcons.js
  tsconfig.json
Due: yarn lint:fix, yarn lint:format
